flows_controller.json
[{"id":"bdbe2d06.23081","type":"tab","label":"Receive Telemetry"},{"id":"29a47d57.7614c2","type":"tab","label":"Receive CANBUS"},{"id":"22c5a77c.734e2","type":"tab","label":"Curtis Controller Parsing"},{"id":"1b6a5816.35494","type":"tab","label":"Location"},{"id":"a6371553.447a4","type":"tab","label":"Cloud Persistence New"},{"id":"f9be8474.0450b8","type":"tab","label":"Vehicle Status"},{"id":"c87049d1.585918","type":"tab","label":"SOC"},{"id":"58ddad43.4caf1c","type":"tab","label":"Brakes"},{"id":"7e75c94b.171468","type":"tab","label":"Charge Controller"},{"id":"a97915af.6022b","type":"tab","label":"12V System"},{"id":"b16d71b8.a08c7","type":"tab","label":"RasPi Status"},{"id":"4bac3b.2ed1fbc4","type":"tab","label":"Inititalize Variables"},{"id":"51fa44b3.b8d92c","type":"tab","label":"Maintenance"},{"id":"c7024e5c.5884d8","type":"tab","label":"Scratchpad"},{"id":"201462d9.08e26e","type":"tab","label":"Traces"},{"id":"8bfaaedf.cc2148","type":"tab","label":"Receive ETHBUS"},{"id":"c74ca758.81a04","type":"tab","label":"Status Dashboard"},{"id":"a25b1320.b7bdf8","type":"subflow","name":"Increase Trip ID","info":"","in":[],"out":[]},{"id":"f2e58406.d9b8e","type":"ui_tab","z":"","name":"Location","icon":"dashboard","order":2},{"id":"b4450eab.de7d3","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"c665290f.ef78e","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3651b7b8.0c5188","type":"wiotp-credentials","z":"","name":"C3","org":"z7bna0","devType":"ca","devId":"b827ebc2968"},{"id":"ee729ad6.4dc11","type":"ui_group","z":"","name":"Map","tab":"f2e58406.d9b8e","disp":false,"width":"14"},{"id":"662ebc7.eabc344","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a260510d.17fc2","type":"ui_group","z":"","name":"Connection","tab":"45059c04.9425bc","disp":true,"width":"6"},{"id":"580a0ce7.98bba4","type":"ui_group","z":"","name":"Computers","tab":"45059c04.9425bc","disp":true,"width":"6"},{"id":"fa8b2b93.5fad38","type":"ui_group","z":"","name":"Energy","tab":"3eb2df7f.78668","order":3,"disp":true,"width":"4"},{"id":"449c440c.17b9ec","type":"ui_group","z":"","name":"Buttons","tab":"3eb2df7f.78668","order":1,"disp":false,"width":"1"},{"id":"4657c2d3.522e8c","type":"ui_group","z":"","name":"Main Pack","tab":"855e6c42.10af2","order":2,"disp":true,"width":"6"},{"id":"d05fc45.0b22e38","type":"mqtt in","z":"bdbe2d06.23081","name":"Input","topic":"/telemetry/#","qos":"0","broker":"c665290f.ef78e","x":70.5,"y":134,"wires":[["1825d74b.938229","533dcc3e.5d198c"]]},{"id":"48997968.a7ab68","type":"redis-command","z":"bdbe2d06.23081","server":"b4450eab.de7d3","command":"set","name":"Persistence","topic":"PERSISTED","x":899.1667022705078,"y":473.66662788391113,"wires":[[]]},{"id":"89e940ea.4e354","type":"redis-command","z":"bdbe2d06.23081","server":"b4450eab.de7d3","command":"set","name":"Transient","topic":"TRANSIENT","x":893.1666412353516,"y":414.333309173584,"wires":[[]]},{"id":"b11a345b.f29348","type":"debug","z":"1b6a5816.35494","name":"","active":false,"console":"false","complete":"payload","x":358.5,"y":34.5,"wires":[]},{"id":"fdb1e333.d28d58","type":"catch","z":"1b6a5816.35494","name":"","scope":null,"x":555.8333435058594,"y":21.583332061767578,"wires":[["849663a4.4ac688"]]},{"id":"57dc620a.243d4c","type":"debug","z":"1b6a5816.35494","name":"","active":false,"console":"false","complete":"true","x":855.8333129882812,"y":63.500003814697266,"wires":[]},{"id":"d2d360d4.8b76b8","type":"gpsd","z":"1b6a5816.35494","name":"Adafruit Ultimate GPS","hostname":"localhost","port":"2947","tpv":true,"sky":true,"info":true,"device":true,"gst":false,"att":false,"x":105,"y":33.25,"wires":[["b11a345b.f29348","db2bccfd.165d08"]]},{"id":"849663a4.4ac688","type":"change","z":"1b6a5816.35494","name":"IsCatch","rules":[{"t":"set","p":"isCatch","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":711.5,"y":46.41666793823242,"wires":[["57dc620a.243d4c"]]},{"id":"55fb9a87.b62f7c","type":"status","z":"1b6a5816.35494","name":"GPS Status","scope":["d2d360d4.8b76b8"],"x":94.16667175292969,"y":251.25001525878906,"wires":[["5c84fea3.02ff3","3a323578.dea902"]]},{"id":"5c84fea3.02ff3","type":"switch","z":"1b6a5816.35494","name":"GPS Fix Mode","property":"status.text","propertyType":"msg","rules":[{"t":"cont","v":"no fix","vt":"str"},{"t":"cont","v":"2D fix","vt":"str"},{"t":"cont","v":"3D fix","vt":"str"}],"checkall":"false","outputs":3,"x":455.83331298828125,"y":251.75001525878906,"wires":[["51b99cea.6622ac"],["a3175518.d077b"],["237bb3d3.039114"]]},{"id":"a3175518.d077b","type":"debug","z":"1b6a5816.35494","name":"2D fix","active":false,"console":"false","complete":"true","x":897.8333053588867,"y":306.1666650772095,"wires":[]},{"id":"51b99cea.6622ac","type":"debug","z":"1b6a5816.35494","name":"no fix","active":false,"console":"false","complete":"true","x":931.8333740234375,"y":247.5,"wires":[]},{"id":"237bb3d3.039114","type":"debug","z":"1b6a5816.35494","name":"3D fix","active":false,"console":"false","complete":"true","x":896.833324432373,"y":354.50001335144043,"wires":[]},{"id":"62594c16.d5377c","type":"switch","z":"1b6a5816.35494","name":"GPS Object Type","property":"payload.class","propertyType":"msg","rules":[{"t":"eq","v":"TPV","vt":"str"},{"t":"eq","v":"SKY","vt":"str"}],"checkall":"false","outputs":2,"x":519.3888854980469,"y":130.55557250976562,"wires":[["9be6a3.abe6996"],[]]},{"id":"f2307db4.25035","type":"function","z":"1b6a5816.35494","name":"TPV Object","func":"var location = {};\nlocation[\"lat\"] = msg.payload.lat;\nlocation[\"lon\"] = msg.payload.lon;\nlocation[\"alt\"] = msg.payload.alt;\nlocation[\"spd\"] = parseInt(msg.payload.speed);//*3.6;\nlocation[\"climb\"] = msg.payload.climb;\nlocation[\"course\"] = msg.payload.track;\nlocation[\"time\"] = msg.payload.time;\nlocation[\"fix\"] = msg.payload.mode;\nmsg.payload = location;\nreturn msg;","outputs":"1","noerr":0,"x":938.2777099609375,"y":167.55555725097656,"wires":[["eabd878c.689e68"]]},{"id":"aa2acb5c.85712","type":"mqtt out","z":"1b6a5816.35494","name":"MQTT Location","topic":"/telemetry/loc","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1492.4683227539062,"y":166.99999809265137,"wires":[]},{"id":"3a323578.dea902","type":"mqtt out","z":"1b6a5816.35494","name":"MQTT GPS Fix","topic":"telemetry/gps/fix","qos":"0","retain":"false","broker":"c665290f.ef78e","x":457.16668701171875,"y":296,"wires":[]},{"id":"1825d74b.938229","type":"function","z":"bdbe2d06.23081","name":"Adjust Topic Name","func":"var message = msg.payload;\nvar topic = msg.topic;\ntopic = topic.replace(/\\//g, \":\");\ntopic = topic.replace(\"telemetry\", \"pst\");\ntopic = topic.substring(1);\n//topic = topic.substring(0,topic.length -1);\n\n\n//flow.set(\"value\", msg.payload);\n//flow.set(\"topic\", topic );\nmsg.payload = [topic];\nmsg.originalValue = message;\nmsg.adjustedTopic = topic;\n\nreturn msg;","outputs":"1","noerr":0,"x":273.1666717529297,"y":170.00000762939453,"wires":[["78e766fc.328ae8","a006b963.cc8e3"]]},{"id":"9be6a3.abe6996","type":"switch","z":"1b6a5816.35494","name":"Check if Valid","property":"payload.mode","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"},{"t":"lte","v":"1","vt":"str"}],"checkall":"false","outputs":2,"x":730.388916015625,"y":172.88888549804688,"wires":[["f2307db4.25035"],["51b99cea.6622ac"]]},{"id":"1dbf97d6.21d4c8","type":"redis-command","z":"bdbe2d06.23081","server":"b4450eab.de7d3","command":"expire","name":"Set Expiration","topic":"","x":1151.8333778381348,"y":346.6666784286499,"wires":[[]]},{"id":"7066bb9f.d0007c","type":"function","z":"bdbe2d06.23081","name":"Set TTL Value into Key","func":"var topic = msg.payload[0];\nmsg.payload = [topic,2];\nreturn msg;","outputs":1,"noerr":0,"x":931.1666793823242,"y":346.6666679382324,"wires":[["1dbf97d6.21d4c8"]]},{"id":"da9fb696.2f1ce8","type":"function","z":"bdbe2d06.23081","name":"Set For Transient","func":"var topic = msg.payload[0];\nvar topic = topic.replace(\"pst\",\"tst\")\nmsg.payload = [topic,msg.payload[1]];\nreturn msg;","outputs":1,"noerr":0,"x":673.5,"y":347,"wires":[["89e940ea.4e354","7066bb9f.d0007c"]]},{"id":"118327e.9045858","type":"mqtt in","z":"29a47d57.7614c2","name":"","topic":"/CANBUS/00000601","qos":"0","broker":"c665290f.ef78e","x":105.5,"y":182,"wires":[["fde69f83.d0bf2","ca8ecb65.283398"]]},{"id":"880129ca.3fb05","type":"switch","z":"29a47d57.7614c2","name":"Route the Incoming CANBUS ID to the Intepreter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/CANBUS/00000601","vt":"str"},{"t":"eq","v":"/CANBUS/00000602","vt":"str"},{"t":"eq","v":"/CANBUS/00000100","vt":"str"}],"checkall":"true","outputs":3,"x":687.1666564941406,"y":229.33334350585938,"wires":[["9810b685.5d645"],["380a53ef.36baa4"],["fcbb1019.d6608"]]},{"id":"9810b685.5d645","type":"link out","z":"29a47d57.7614c2","name":"ControllerTOCanbus","links":["ff8fa294.842c8"],"x":943.5,"y":151.3333282470703,"wires":[]},{"id":"e64e3bd5.535fb8","type":"function","z":"22c5a77c.734e2","name":"Engine RPM","func":"var byteHigh    = parseInt(msg.payload.substring(0,2),16);\nvar byteLow     = parseInt(msg.payload.substring(2,4),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh*256)+byteLow;\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":93,"wires":[["34adab5a.f8fc2c"]]},{"id":"8f2df7bc.1ecb28","type":"function","z":"22c5a77c.734e2","name":"Engine Temperature","func":"var byteHigh    = parseInt(msg.payload.substring(4,6),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":357.5,"y":145,"wires":[["d4eeccf1.52e988"]]},{"id":"3dde1d38.8eb0aa","type":"function","z":"22c5a77c.734e2","name":"Controller Temp","func":"var byteHigh    = parseInt(msg.payload.substring(6,8),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":342.5,"y":196,"wires":[["cca3deb.4bd7ba"]]},{"id":"394c27a.82604d8","type":"function","z":"22c5a77c.734e2","name":"Current","func":"msg.payload = msg.payload[\"current\"];\nreturn msg;","outputs":1,"noerr":0,"x":439.5,"y":239,"wires":[["da90a41e.ac49a8"]]},{"id":"48c34d5f.9873c4","type":"function","z":"22c5a77c.734e2","name":"Voltage","func":"msg.payload = msg.payload[\"voltage\"];\nreturn msg;","outputs":1,"noerr":0,"x":441.5,"y":311,"wires":[["e38e4674.209738"]]},{"id":"7abe10d8.a97238","type":"function","z":"22c5a77c.734e2","name":"Stator Frequency","func":"var byteHigh    = parseInt(msg.payload.substring(0,2),16);\nvar byteLow     = parseInt(msg.payload.substring(2,4),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh*256)+byteLow;\nreturn msg;","outputs":1,"noerr":0,"x":336.5,"y":374,"wires":[["b7a5ab82.c8201"]]},{"id":"771849c6.e5bfb","type":"function","z":"22c5a77c.734e2","name":"Controller Fault - Primary","func":"var byteHigh    = parseInt(msg.payload.substring(4,6),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":426,"wires":[["ad4f4e63.af9b98"]]},{"id":"bb62e6c3.49398","type":"function","z":"22c5a77c.734e2","name":"Controller Fault - Secondary","func":"var byteHigh    = parseInt(msg.payload.substring(6,8),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":477,"wires":[["8aa46ad4.d0562"]]},{"id":"ad40cb01.4d4ea","type":"function","z":"22c5a77c.734e2","name":"Throttle","func":"var byteHigh    = parseInt(msg.payload.substring(8,10),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":304.5,"y":529,"wires":[["ae1c0901.c0a2a"]]},{"id":"6907d830.90bca8","type":"function","z":"22c5a77c.734e2","name":"Brake","func":"var byteHigh    = parseInt(msg.payload.substring(10,12),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":295.5,"y":582,"wires":[["a7b510c6.f1264"]]},{"id":"54532b38.e869fc","type":"function","z":"22c5a77c.734e2","name":"System Info","func":"var byteHigh    = parseInt(msg.payload.substring(12,14),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":315.5,"y":631,"wires":[["79f048d5.80c408"]]},{"id":"ff8fa294.842c8","type":"link in","z":"22c5a77c.734e2","name":"Controller - 1","links":["9810b685.5d645"],"x":135.5,"y":131,"wires":[["e64e3bd5.535fb8","8f2df7bc.1ecb28","3dde1d38.8eb0aa","f8db13d3.04cd88","3ac8fef9.68598a"]]},{"id":"7a7d20df.d63a8","type":"link in","z":"22c5a77c.734e2","name":"Controller - 2","links":["380a53ef.36baa4"],"x":111.5,"y":410,"wires":[["7abe10d8.a97238","771849c6.e5bfb","bb62e6c3.49398","ad40cb01.4d4ea","6907d830.90bca8","54532b38.e869fc","f8db13d3.04cd88"]]},{"id":"380a53ef.36baa4","type":"link out","z":"29a47d57.7614c2","name":"Controller - 2","links":["7a7d20df.d63a8"],"x":946.5,"y":228.6666717529297,"wires":[]},{"id":"34adab5a.f8fc2c","type":"mqtt out","z":"22c5a77c.734e2","name":"enginerpm-out","topic":"/telemetry/enginerpm","qos":"","retain":"","broker":"c665290f.ef78e","x":656.5,"y":54,"wires":[]},{"id":"d4eeccf1.52e988","type":"mqtt out","z":"22c5a77c.734e2","name":"enginetemp-out","topic":"/telemetry/enginetemp","qos":"","retain":"","broker":"c665290f.ef78e","x":654,"y":107,"wires":[]},{"id":"cca3deb.4bd7ba","type":"mqtt out","z":"22c5a77c.734e2","name":"cnttemp-out","topic":"/telemetry/cnttemp","qos":"","retain":"","broker":"c665290f.ef78e","x":644,"y":169,"wires":[]},{"id":"da90a41e.ac49a8","type":"mqtt out","z":"22c5a77c.734e2","name":"cntamp-out","topic":"/telemetry/cntamp","qos":"","retain":"","broker":"c665290f.ef78e","x":644,"y":222,"wires":[]},{"id":"e38e4674.209738","type":"mqtt out","z":"22c5a77c.734e2","name":"cntvolt-out","topic":"/telemetry/cntvolt","qos":"","retain":"","broker":"c665290f.ef78e","x":645,"y":332,"wires":[]},{"id":"c57ea53b.9c81b8","type":"redis-command","z":"c87049d1.585918","server":"b4450eab.de7d3","command":"get","name":"Get Voltage","topic":"tst:cnttrt","x":430.5,"y":480.6666564941406,"wires":[["b451d212.aae7b8","40b29461.d624bc","2277dfa3.ec9dc","6c7e0435.e85624"]]},{"id":"279998c3.d349f","type":"inject","z":"c87049d1.585918","name":"Voltage","topic":"pst:batvolt","payload":"[\"pst:batvolt\"]","payloadType":"json","repeat":"1","crontab":"","once":false,"x":91.16667175292969,"y":526.6666803359985,"wires":[["4c2c39e2.65bcf","71d10a9f.117ae4"]]},{"id":"f8db13d3.04cd88","type":"debug","z":"22c5a77c.734e2","name":"","active":false,"console":"false","complete":"false","x":88.5,"y":306,"wires":[]},{"id":"73a41840.582918","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":699.5,"y":709,"wires":[]},{"id":"90ee9487.c640f","type":"mqtt out","z":"c87049d1.585918","name":"socmain-out","topic":"/telemetry/battery/socmain","qos":"","retain":"","broker":"c665290f.ef78e","x":1255.5,"y":193.33334350585938,"wires":[]},{"id":"b7a5ab82.c8201","type":"mqtt out","z":"22c5a77c.734e2","name":"cntfreq-out","topic":"/telemetry/cntfreq","qos":"","retain":"","broker":"c665290f.ef78e","x":646.5,"y":382,"wires":[]},{"id":"ad4f4e63.af9b98","type":"mqtt out","z":"22c5a77c.734e2","name":"cntfault0-out","topic":"/telemetry/cntfault0","qos":"","retain":"","broker":"c665290f.ef78e","x":645,"y":424,"wires":[]},{"id":"8aa46ad4.d0562","type":"mqtt out","z":"22c5a77c.734e2","name":"cntfault1-out","topic":"/telemetry/cntfault1","qos":"","retain":"","broker":"c665290f.ef78e","x":642,"y":471,"wires":[]},{"id":"ae1c0901.c0a2a","type":"mqtt out","z":"22c5a77c.734e2","name":"cnttrt-out","topic":"/telemetry/cnttrt","qos":"","retain":"","broker":"c665290f.ef78e","x":635,"y":526,"wires":[]},{"id":"a7b510c6.f1264","type":"mqtt out","z":"22c5a77c.734e2","name":"cntbrk-out","topic":"/telemetry/cntbrk","qos":"","retain":"","broker":"c665290f.ef78e","x":640,"y":574,"wires":[]},{"id":"79f048d5.80c408","type":"mqtt out","z":"22c5a77c.734e2","name":"cntsys-out","topic":"/telemetry/cntsys","qos":"","retain":"","broker":"c665290f.ef78e","x":639,"y":621,"wires":[]},{"id":"78e766fc.328ae8","type":"redis-command","z":"bdbe2d06.23081","server":"b4450eab.de7d3","command":"get","name":"Check Value","topic":"","x":470.8333206176758,"y":169.6666774749756,"wires":[["a7568b78.0a6358","aac9b102.d8dc18"]]},{"id":"a7568b78.0a6358","type":"switch","z":"bdbe2d06.23081","name":"Check Value Changed","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"neq","v":"originalValue","vt":"msg"},{"t":"eq","v":"originalValue","vt":"flow"}],"checkall":"true","outputs":3,"x":707.5000152587891,"y":169.66667079925537,"wires":[["45d16293.0b8514"],["45d16293.0b8514"],[]]},{"id":"2277dfa3.ec9dc","type":"aggregator","z":"c87049d1.585918","name":"MaxVoltage","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"max","x":666.1666564941406,"y":385.33331298828125,"wires":[[]]},{"id":"45d16293.0b8514","type":"function","z":"bdbe2d06.23081","name":"Adjust Message for Redis","func":"//var topic = msg.topic;\n//var topic = topic.replace(/\\//g, \":\");\n//var topic = topic.replace(\"telemetry\", \"pst\");\n//var topic = topic.substring(1);\n\n\n//var topic = flow.get(\"topic\");\n//var value = msg.payload;\n//var topic = topic.replace(\"pst\",\"tst\")\nmsg.payload = [msg.adjustedTopic,msg.originalValue];\nreturn msg;","outputs":1,"noerr":0,"x":321.4999771118164,"y":346.99999618530273,"wires":[["48997968.a7ab68","da9fb696.2f1ce8","dc22ad9c.e1e7c8"]]},{"id":"40b29461.d624bc","type":"aggregator","z":"c87049d1.585918","name":"MinVoltage","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"min","x":680.6666870117188,"y":425.3333435058594,"wires":[[]]},{"id":"b451d212.aae7b8","type":"aggregator","z":"c87049d1.585918","name":"AverageVoltage","topic":"","intervalCount":"2","intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":746.3333129882812,"y":473.9999694824219,"wires":[[]]},{"id":"fcbb1019.d6608","type":"link out","z":"29a47d57.7614c2","name":"","links":["ed419901.dfad3"],"x":953.8333129882812,"y":316.3333435058594,"wires":[]},{"id":"dc22ad9c.e1e7c8","type":"debug","z":"bdbe2d06.23081","name":"","active":false,"console":"false","complete":"false","x":896.8332977294922,"y":540.3333358764648,"wires":[]},{"id":"6c7e0435.e85624","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":428.5,"y":714,"wires":[]},{"id":"68a9568c.4a2078","type":"inject","z":"b16d71b8.a08c7","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":104,"y":117,"wires":[["98d63672.eb334","765cb92b.6f0cb","20941d7.7a67fe2","41d40c57.73bf2c"]]},{"id":"98d63672.eb334","type":"exec","z":"b16d71b8.a08c7","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":330,"y":206.5,"wires":[["16d93723.153351"],[],[]]},{"id":"16d93723.153351","type":"function","z":"b16d71b8.a08c7","name":"msg.payload","func":"msg.payload = {\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")};\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":201,"wires":[["fcf9273e.043bf8"]]},{"id":"fcf9273e.043bf8","type":"mqtt out","z":"b16d71b8.a08c7","name":"sys1cputemp-out","topic":"/telemetry/sys/1/temp","qos":"0","retain":"false","broker":"c665290f.ef78e","x":753.5,"y":200,"wires":[]},{"id":"a006b963.cc8e3","type":"debug","z":"bdbe2d06.23081","name":"","active":false,"console":"false","complete":"true","x":463.57140731811523,"y":92.06348943710327,"wires":[]},{"id":"9d5a010c.858ce","type":"debug","z":"1b6a5816.35494","name":"","active":false,"console":"false","complete":"false","x":1483.6666679382324,"y":130.98413944244385,"wires":[]},{"id":"6f354e90.9d5f5","type":"mqtt out","z":"a97915af.6022b","name":"","topic":"/telemetry/battery/12v/v","qos":"","retain":"","broker":"c665290f.ef78e","x":821.8056030273438,"y":214.202392578125,"wires":[]},{"id":"765cb92b.6f0cb","type":"Loadavg","z":"b16d71b8.a08c7","name":"","x":326.1111111111111,"y":321.1111111111111,"wires":[["36ae7b7f.e29f1c","63400a54.5c987c"]]},{"id":"20941d7.7a67fe2","type":"Memory","z":"b16d71b8.a08c7","name":"","x":317.22222222222223,"y":374.44444444444446,"wires":[["36ae7b7f.e29f1c","2d30b6a8.4141b2"]]},{"id":"36ae7b7f.e29f1c","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":1014.0793991088867,"y":359.03178215026855,"wires":[]},{"id":"41d40c57.73bf2c","type":"Drives","z":"b16d71b8.a08c7","name":"","x":313.88888888888886,"y":438.88888888888886,"wires":[["36ae7b7f.e29f1c"]]},{"id":"8c3a4e7d.7219","type":"NetworkIntf","z":"b16d71b8.a08c7","name":"Network Interfaces","x":126.5,"y":551,"wires":[["7ebbbd20.c09c14"]]},{"id":"f63730b3.863e7","type":"inject","z":"b16d71b8.a08c7","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":100.5,"y":479,"wires":[["8c3a4e7d.7219"]]},{"id":"fc67cb9f.f86c68","type":"switch","z":"b16d71b8.a08c7","name":"Check If Wifi is Up","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":460.5,"y":550,"wires":[["72f00a30.e535f4"],["55428546.568eec"]]},{"id":"7ebbbd20.c09c14","type":"function","z":"b16d71b8.a08c7","name":"","func":"msg.payload = msg.payload[\"networkInterfaces\"][\"wlan0\"]\nreturn msg;","outputs":1,"noerr":0,"x":292.5,"y":551,"wires":[["fc67cb9f.f86c68"]]},{"id":"72f00a30.e535f4","type":"change","z":"b16d71b8.a08c7","name":"Set WLAN Connected to True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":713.5,"y":513,"wires":[["96c4ba79.3f2ea8","675d6d36.1e51e4"]]},{"id":"55428546.568eec","type":"change","z":"b16d71b8.a08c7","name":"Set WLAN Connected to False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":582,"wires":[["96c4ba79.3f2ea8","b382be8a.bce8f"]]},{"id":"96c4ba79.3f2ea8","type":"mqtt out","z":"b16d71b8.a08c7","name":"telemetry:sys:wlan:out","topic":"/telemetry/sys/wlan","qos":"","retain":"","broker":"c665290f.ef78e","x":998.5,"y":532,"wires":[]},{"id":"675d6d36.1e51e4","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":958.1250152587891,"y":482.50000953674316,"wires":[]},{"id":"b382be8a.bce8f","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":965,"y":598.75,"wires":[]},{"id":"b5f707e7.288f08","type":"inject","z":"4bac3b.2ed1fbc4","name":"","topic":"System Initialization","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":113.5,"y":69,"wires":[["f5ed462.2a4f1b8"]]},{"id":"f5ed462.2a4f1b8","type":"change","z":"4bac3b.2ed1fbc4","name":"Initialize Global Variables","rules":[{"t":"set","p":"ignition","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"dcdc","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":295.5,"y":196,"wires":[[]]},{"id":"ee9eac06.514aa","type":"mqtt out","z":"51fa44b3.b8d92c","name":"","topic":"/telemetry/battery/12v/v","qos":"","retain":"","broker":"c665290f.ef78e","x":487.5,"y":214,"wires":[]},{"id":"af605e3e.2eb85","type":"inject","z":"51fa44b3.b8d92c","name":"","topic":"volt","payload":"{\"volt\": 14}","payloadType":"json","repeat":"","crontab":"","once":false,"x":292.5,"y":166,"wires":[["ee9eac06.514aa"]]},{"id":"63bc7a64.2ddf64","type":"inject","z":"51fa44b3.b8d92c","name":"","topic":"volt","payload":"{\"volt\": 11}","payloadType":"json","repeat":"","crontab":"","once":false,"x":280,"y":283,"wires":[["ee9eac06.514aa"]]},{"id":"67414a0d.0074c4","type":"redis-command","z":"51fa44b3.b8d92c","server":"b4450eab.de7d3","command":"flushall","name":"","topic":"","x":324,"y":523,"wires":[["c804a162.fcf68"]]},{"id":"c804a162.fcf68","type":"debug","z":"51fa44b3.b8d92c","name":"","active":true,"console":"false","complete":"false","x":517,"y":540,"wires":[]},{"id":"f2a4351d.1452d8","type":"inject","z":"51fa44b3.b8d92c","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":183,"y":463,"wires":[["67414a0d.0074c4"]]},{"id":"18012239.abb0ae","type":"redis-command","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"keys","name":"Get Keys To Persist","topic":"KEY","x":573.75,"y":162.16668701171875,"wires":[["80313aed.f45aa","21eb215d.4a2d66"]]},{"id":"2c41b22a.49454e","type":"inject","z":"a6371553.447a4","name":"Active Frequency","topic":"","payload":"[\"tst*\"]","payloadType":"json","repeat":"0.5","crontab":"","once":true,"x":119.75,"y":98.50000762939453,"wires":[["d8eadef1.3b1df"]]},{"id":"5d13f9cb.c6fe8","type":"redis-command","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"get","name":"Get Data","topic":"","x":1304.5833206176758,"y":175.16669273376465,"wires":[["3157c8dc.d4a5e","f5d670ee.45f2e"]]},{"id":"fb901f6.4692ce","type":"function","z":"a6371553.447a4","name":"Set Key for GET","func":"msg.inputValue=msg.payload;\n//msg.parts.push(msg.payload);\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":1076.5833206176758,"y":177.83334922790527,"wires":[["5d13f9cb.c6fe8"]]},{"id":"632599d3.ccc67","type":"function","z":"a6371553.447a4","name":"Payload Processing & Filter","func":"var foo = {  } ;\nvar key = msg.inputValue.substring(msg.inputValue.indexOf(\":\")+1);\nvar tick = flow.get(\"tick\");\nvar lastLocUpdate = flow.get(\"lastLocUpdate\"); \nvar expire = (tick - lastLocUpdate);\n\n\nvar isObject = msg.payload.typeOf == \"object\";\n//node.error(key);\n//node.error(msg.payload);\nif (isObject) { \n    //node.error(\"isObject\");\n}\nmsg.isValid = true;\n\ntry{ \nif( key == \"loc\" ) {\n    if (expire < 30000) {\n        msg.isValid = false } \n    else {\n       foo[key] = JSON.parse(msg.payload);\n       flow.set(\"lastLocUpdate\",tick)}\n       }\nelse {\n    if (!isObject) { \n        foo[key] = JSON.parse(msg.payload);\n    }\n}} catch (e) {\n    // handle errors\n    node.error(e);\n    node.error(e);\n    throw (e);\n}\n    \nmsg.currentKey = key;    \nmsg.payload = foo; \n\nreturn msg;","outputs":"1","noerr":0,"x":738.583381652832,"y":287.5000057220459,"wires":[["77c98633.5f05f","dc71e915.dd82f"]]},{"id":"4d9f7bc3.352cdc","type":"wiotp out","z":"a6371553.447a4","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"3651b7b8.0c5188","deviceType":"","deviceId":"","event":"C3-Bluemix","format":"json","name":"","x":1100.5,"y":787.5000205039978,"wires":[]},{"id":"dc71e915.dd82f","type":"join","z":"a6371553.447a4","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":1091.2500076293945,"y":288.5000057220459,"wires":[["e7d65ca6.58f5c8","d4e83bce.4d4f8"]]},{"id":"80313aed.f45aa","type":"split","z":"a6371553.447a4","name":"","splt":"\\n","x":733.916633605957,"y":179.50002098083496,"wires":[["a0b7cefc.7e5988"]]},{"id":"e7d65ca6.58f5c8","type":"function","z":"a6371553.447a4","name":"Adjust Array of Objects for Bluemix ","func":"var epoch = flow.get(\"tick\");\nvar nullFound = false;\n\nvar foo = { \"d\":{ } };\nfoo.d[\"tick\"] = epoch;\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n\n        var key = Object.keys(msg.payload[i])[0];\n        if ( typeof key !== \"undefined\" ) { \n            foo.d[key] = msg.payload[i][key]; //\"NAO NULO\";\n        }\n  \n}\n\nmsg.payload = foo; \nmsg.nullFound = nullFound;\nreturn msg;\n","outputs":1,"noerr":0,"x":964.9166870117188,"y":389.8333435058594,"wires":[["ad904448.9a01","747aede3.8c97ec"]]},{"id":"d8eadef1.3b1df","type":"switch","z":"a6371553.447a4","name":"Check Ignition","property":"ignition","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":348.7222595214844,"y":97.86115264892578,"wires":[["18012239.abb0ae","3c1ffb3d.8e8c04"],[]]},{"id":"ad904448.9a01","type":"debug","z":"a6371553.447a4","name":"To Bluemix Message","active":false,"console":"false","complete":"payload","x":1263.083137512207,"y":444.500036239624,"wires":[]},{"id":"ebcd540a.0758f","type":"redis-command","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"rpop","name":"Get Next Value","topic":"queue","x":639.1666259765625,"y":809.833333492279,"wires":[["b81b52eb.079598"]]},{"id":"f45eb50c.0678d8","type":"inject","z":"a6371553.447a4","name":"","topic":"","payload":"[\"queue\"]","payloadType":"json","repeat":"1","crontab":"","once":true,"x":140.16666412353516,"y":795.5000176429749,"wires":[["c3ddd9f.3b51e28"]]},{"id":"5927b2b7.b45dd4","type":"debug","z":"a6371553.447a4","name":"Flow Queue","active":false,"console":"false","complete":"payload","x":1057.1666259765625,"y":707.833333492279,"wires":[]},{"id":"747aede3.8c97ec","type":"function","z":"a6371553.447a4","name":"Set Key for Queue","func":"//msg.payload = [\"persist-queue\", JSON.stringify(msg.payload)]\nmsg.topic = \"queue\"\nreturn msg;","outputs":1,"noerr":0,"x":827.9166870117188,"y":554.5,"wires":[["5ed2713.795659","2c8c49e.cc53f36"]]},{"id":"b81b52eb.079598","type":"switch","z":"a6371553.447a4","name":"Null Check","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":737.5,"y":711.5000205039978,"wires":[["412941ac.29dc9","669493df.b19424"]]},{"id":"412941ac.29dc9","type":"json","z":"a6371553.447a4","name":"","x":922.5,"y":785.5000205039978,"wires":[["5927b2b7.b45dd4","4d9f7bc3.352cdc"]]},{"id":"12b3930e.ad9595","type":"status","z":"a6371553.447a4","name":"Bluemix Connectivity","scope":["4d9f7bc3.352cdc"],"x":151.58335876464844,"y":1038.5834007263184,"wires":[["f8100c3c.c2f168","6a3d2e94.18087"]]},{"id":"f8100c3c.c2f168","type":"debug","z":"a6371553.447a4","name":"","active":true,"console":"false","complete":"status","x":522.5833473205566,"y":1152.2500648498535,"wires":[]},{"id":"c3ddd9f.3b51e28","type":"switch","z":"a6371553.447a4","name":"isConnected","property":"isConnected","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":422.8333435058594,"y":798.5000205039978,"wires":[["ebcd540a.0758f","7f34bcb4.7f1d5c"],["4cc2188d.968798"]]},{"id":"6a3d2e94.18087","type":"function","z":"a6371553.447a4","name":"set isConnected","func":"if (msg.status.text == \"node-red:common.status.connected\")\n    flow.set(\"isConnected\",true); \nelse \n    flow.set(\"isConnected\",false); \nreturn msg;","outputs":1,"noerr":0,"x":448.9166831970215,"y":1039.2500896453857,"wires":[[]]},{"id":"81fce817.20b3c","type":"catch","z":"a6371553.447a4","name":"","scope":null,"x":1017.7500152587891,"y":1017.5000667572021,"wires":[["a9574d14.82883","adbdc596.b6b518"]]},{"id":"a9574d14.82883","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"true","complete":"true","x":1233.33345413208,"y":1020.6667394638062,"wires":[]},{"id":"3157c8dc.d4a5e","type":"switch","z":"a6371553.447a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":481.25000762939453,"y":294.16669273376465,"wires":[["632599d3.ccc67"],[]]},{"id":"77c98633.5f05f","type":"debug","z":"a6371553.447a4","name":"Processed Payload","active":false,"console":"false","complete":"true","x":1017,"y":249.83335876464844,"wires":[]},{"id":"d4e83bce.4d4f8","type":"debug","z":"a6371553.447a4","name":"Bulk Message","active":false,"console":"false","complete":"payload","x":1329,"y":288.8333435058594,"wires":[]},{"id":"adbdc596.b6b518","type":"function","z":"a6371553.447a4","name":"Restart if Crashed","func":"msg.payload = [\"tst*\"];\nreturn msg;","outputs":1,"noerr":0,"x":1294.916648864746,"y":1067.1667394638062,"wires":[[]]},{"id":"b6399f2c.6661a8","type":"comment","z":"a6371553.447a4","name":"Connection Watchdog","info":"","x":149.58334350585938,"y":982.9167652130127,"wires":[]},{"id":"ce6cca42.3adff8","type":"comment","z":"a6371553.447a4","name":"From Queue to Bluemix","info":"","x":148.75,"y":637.0833854675293,"wires":[]},{"id":"a0b7cefc.7e5988","type":"function","z":"a6371553.447a4","name":"Set Timers","func":"flow.set(\"tick\",Math.round(new Date()));\nif ( typeof flow.get(\"lastLocUpdate\") == \"undefined\")\n    flow.set(\"lastLocUpdate\",Math.round(new Date()));\nreturn msg;\n\n","outputs":1,"noerr":0,"x":894.7500076293945,"y":179.5000057220459,"wires":[["fb901f6.4692ce"]]},{"id":"f5d670ee.45f2e","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"true","x":1477.25,"y":174.5,"wires":[]},{"id":"ddc19a98.7f8ba8","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":790.5,"y":855.5,"wires":[]},{"id":"7f34bcb4.7f1d5c","type":"redis-command","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"llen","name":"","topic":"queue","x":621.5,"y":856.5,"wires":[["ddc19a98.7f8ba8"]]},{"id":"27a005e3.937bba","type":"inject","z":"a6371553.447a4","name":"Standby Frequency","topic":"","payload":"[\"pst*\"]","payloadType":"json","repeat":"300","crontab":"","once":true,"x":131.75,"y":193.5,"wires":[["18012239.abb0ae"]]},{"id":"21eb215d.4a2d66","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":756.2500076293945,"y":145.5000057220459,"wires":[]},{"id":"3c1ffb3d.8e8c04","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":573.2500076293945,"y":96.5000057220459,"wires":[]},{"id":"669493df.b19424","type":"change","z":"a6371553.447a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"queue\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":477.5,"y":686.5000205039978,"wires":[["c3ddd9f.3b51e28"]]},{"id":"5ed2713.795659","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":1234.2500076293945,"y":498.5000057220459,"wires":[]},{"id":"2c8c49e.cc53f36","type":"redis-out","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"lpush","name":"Enqueue","topic":"queue","x":1210.2500076293945,"y":559.5000057220459,"wires":[]},{"id":"39fb114e.88fb76","type":"xml","z":"c7024e5c.5884d8","name":"","attr":"","chr":"","x":249.5,"y":112,"wires":[["29ad00ea.a85af"]]},{"id":"f4cbf330.35967","type":"debug","z":"c7024e5c.5884d8","name":"","active":true,"console":"false","complete":"payload","x":614.5,"y":179,"wires":[]},{"id":"f1d79b55.da5b8","type":"http request","z":"c7024e5c.5884d8","name":"","method":"GET","ret":"txt","url":"http://10.0.1.43/api/LiveData.xml","tls":"","x":110.5,"y":182,"wires":[["39fb114e.88fb76"]]},{"id":"6547074f.286258","type":"inject","z":"c7024e5c.5884d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.5,"y":290,"wires":[["f1d79b55.da5b8"]]},{"id":"20cb7445.4795fc","type":"split","z":"c7024e5c.5884d8","name":"","splt":"\\n","x":431.5,"y":220,"wires":[["f4cbf330.35967"]]},{"id":"29ad00ea.a85af","type":"json","z":"c7024e5c.5884d8","name":"","x":319.5,"y":144,"wires":[["20cb7445.4795fc"]]},{"id":"f4ab8592.62675","type":"mqtt in","z":"a97915af.6022b","name":"Telemetry 12v","topic":"/telemetry/battery/12v/raw","qos":"0","broker":"c665290f.ef78e","x":99.78571319580078,"y":116.42857360839844,"wires":[["d0abd281.5cd7c","3ae0d4a4.333a9c"]]},{"id":"3ae0d4a4.333a9c","type":"debug","z":"a97915af.6022b","name":"","active":false,"console":"false","complete":"false","x":769.5,"y":115,"wires":[]},{"id":"d0abd281.5cd7c","type":"smooth","z":"a97915af.6022b","name":"","action":"low","count":"10","round":"2","x":125.07142639160156,"y":220.99998474121094,"wires":[["6f354e90.9d5f5","3ec3cee9.f985c2"]]},{"id":"fde69f83.d0bf2","type":"debug","z":"29a47d57.7614c2","name":"","active":false,"console":"false","complete":"topic","x":253.5,"y":108,"wires":[]},{"id":"ca8ecb65.283398","type":"delay","z":"29a47d57.7614c2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":357.8333435058594,"y":204.66665649414062,"wires":[["880129ca.3fb05"]]},{"id":"f6719c05.b60a38","type":"smooth","z":"c87049d1.585918","name":"","action":"low","count":"10","round":"1","x":802.8333129882812,"y":194,"wires":[["9dee658c.e85f4","37a57de.1783482","73ff2f9b.7be94","2e6e9b6a.43f59c"]]},{"id":"5b500811.89c978","type":"switch","z":"f9be8474.0450b8","name":"Check Ignition","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"9","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":417,"y":194,"wires":[["76f378bf.191838"],["d31c9ee0.1257e8"]]},{"id":"76f378bf.191838","type":"change","z":"f9be8474.0450b8","name":"Set Ignition On","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":607.5,"y":187.25,"wires":[["366f4c39.61672c"]]},{"id":"1beb3bf8.8f38d4","type":"mqtt out","z":"f9be8474.0450b8","name":"","topic":"/telemetry/car/ignition","qos":"","retain":"","broker":"c665290f.ef78e","x":1412.375,"y":369,"wires":[]},{"id":"d31c9ee0.1257e8","type":"change","z":"f9be8474.0450b8","name":"Set Ignition Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":608.5,"y":226,"wires":[["366f4c39.61672c"]]},{"id":"525ddad7.46035c","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"false","x":420.5,"y":290,"wires":[]},{"id":"730a665a.4549f","type":"mqtt in","z":"f9be8474.0450b8","name":"","topic":"/telemetry/battery/ign/","qos":"0","broker":"c665290f.ef78e","x":151.5,"y":194,"wires":[["525ddad7.46035c","5b500811.89c978"]]},{"id":"366f4c39.61672c","type":"switch","z":"f9be8474.0450b8","name":"Check if Ignition Changed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ignition","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":826.5,"y":218,"wires":[["238754c0.c0d924"],["d86bc43a.7c95b8"]]},{"id":"6f63c509.75b0dc","type":"change","z":"f9be8474.0450b8","name":"","rules":[{"t":"set","p":"ignition","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1169.5,"y":364,"wires":[["1beb3bf8.8f38d4","f3a58449.5237e8"]]},{"id":"1d108d8f.c6846a","type":"redis-command","z":"f9be8474.0450b8","server":"b4450eab.de7d3","command":"incr","name":"Increment TripID","topic":"[pst:tripId]","x":1002.5,"y":123,"wires":[["46ba0304.a37b34","50484e73.cb6ce8","f702938a.c16498"]]},{"id":"655d0c14.ea5034","type":"redis-command","z":"f9be8474.0450b8","server":"b4450eab.de7d3","command":"set","name":"Set transient key","topic":"[tst:tripId]","x":1359.5,"y":60,"wires":[[]]},{"id":"46ba0304.a37b34","type":"debug","z":"f9be8474.0450b8","name":"tripID","active":true,"console":"false","complete":"payload","x":1233.5,"y":123,"wires":[]},{"id":"3d804883.e6ddc8","type":"mqtt in","z":"c87049d1.585918","name":"","topic":"/telemetry/battery/power","qos":"0","broker":"c665290f.ef78e","x":115,"y":200.33334350585938,"wires":[["b00c24e5.9fb2f"]]},{"id":"4c2c39e2.65bcf","type":"redis-command","z":"c87049d1.585918","server":"b4450eab.de7d3","command":"get","name":"Get Amps","topic":"tst:batvolt","x":253.3333396911621,"y":566.6666622161865,"wires":[[]]},{"id":"9dee658c.e85f4","type":"range","z":"c87049d1.585918","minin":"94","maxin":"101.6","minout":"0","maxout":"100","action":"clamp","round":true,"name":"Maps Voltage to SOC","x":999.8333740234375,"y":193.6666717529297,"wires":[["90ee9487.c640f","6460f812.80a9"]]},{"id":"6460f812.80a9","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":1134.4999389648438,"y":85.00000762939453,"wires":[]},{"id":"e4a0d910.1ba9a","type":"function","z":"f9be8474.0450b8","name":"","func":"msg.payload=[\"pst:tripId\"];\nreturn msg;","outputs":1,"noerr":0,"x":860.5,"y":163,"wires":[["1d108d8f.c6846a"]]},{"id":"50484e73.cb6ce8","type":"function","z":"f9be8474.0450b8","name":"","func":"msg.payload = [ \"tst:tripId\", msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":1176.5,"y":61,"wires":[["655d0c14.ea5034"]]},{"id":"238754c0.c0d924","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"false","x":963.5,"y":283,"wires":[]},{"id":"d86bc43a.7c95b8","type":"switch","z":"f9be8474.0450b8","name":"Is it On?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1048.5,"y":218,"wires":[["e4a0d910.1ba9a","6f63c509.75b0dc","f8c4ad36.185cb","4ab24e6f.b2c168"],["6f63c509.75b0dc","ed3c23a0.299618"]]},{"id":"3ac8fef9.68598a","type":"function","z":"22c5a77c.734e2","name":"","func":"var byteHigh    = parseInt(msg.payload.substring(8,10),16);\nvar byteLow     = parseInt(msg.payload.substring(10,12),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nvar payload={};\npayload[\"current\"] = (((byteHigh*256)+byteLow)*0.1).toFixed(2);\nvar byteHigh    = parseInt(msg.payload.substring(12,14),16);\nvar byteLow     = parseInt(msg.payload.substring(14,16),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\npayload[\"voltage\"] = (((byteHigh*256)+byteLow)*0.1).toFixed(2);\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":285.5,"y":269,"wires":[["394c27a.82604d8","48c34d5f.9873c4","7c090098.3e5c98","28a70eed.093e52"]]},{"id":"7c090098.3e5c98","type":"mqtt out","z":"22c5a77c.734e2","name":"cntpower","topic":"/telemetry/cntpower","qos":"","retain":"","broker":"c665290f.ef78e","x":631.5000267028809,"y":275.6666679382324,"wires":[]},{"id":"9843fa4c.d94c8","type":"comment","z":"1b6a5816.35494","name":"Envio em Backup da localizacao caso o mecanismo no Bluemix de problema","info":"","x":320.4166564941406,"y":463.3333511352539,"wires":[]},{"id":"f294d5e4.a7fd3","type":"debug","z":"1b6a5816.35494","name":"","active":false,"console":"false","complete":"true","x":1621.416748046875,"y":814.3333740234375,"wires":[]},{"id":"326167d5.1d069","type":"http request","z":"1b6a5816.35494","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1603.083251953125,"y":703,"wires":[["f294d5e4.a7fd3"]]},{"id":"342afad0.d1fda6","type":"function","z":"1b6a5816.35494","name":"Adjust Location for HTTP Request","func":"payload = {};\npayload.heading = msg.payload[\"course\"];\npayload.spd =  msg.payload[\"spd\"] * 0.539957 ;\npayload.lat =  msg.payload[\"lat\"];\npayload.lon =  msg.payload[\"lon\"];\nif (typeof msg.payload[\"alt\"] !== 'undefined') { \n    payload.alt = msg.payload[\"alt\"] }\n else \n    { payload.alt = 0 } \n    \nvar url = \"http://traccar.homedns.org:5055/?id=1234567890&lat=\" + msg.payload.lat + \"&lon=\"+msg.payload.lon+\"&timestamp=\"+msg.payload.time+\"&heading=\"+ msg.payload.course +\"&altitude=\"+ msg.payload.alt+\"&speed=\"+msg.payload.spd;\n\nmsg.payload = payload;\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":1081.75,"y":704,"wires":[["90aec87e.d55d48","ccd4a75d.152078"]]},{"id":"40ddce1d.d1c51","type":"json","z":"1b6a5816.35494","name":"","x":844.0833358764648,"y":703.8096446990967,"wires":[["342afad0.d1fda6"]]},{"id":"28a70eed.093e52","type":"debug","z":"22c5a77c.734e2","name":"","active":false,"console":"false","complete":"false","x":883.1666870117188,"y":245.33334350585938,"wires":[]},{"id":"17302047.c4ee5","type":"comment","z":"c87049d1.585918","name":"Processamento Temporátio de SOC","info":"","x":152.5,"y":88.33333110809326,"wires":[]},{"id":"bb11a27d.000fa","type":"json","z":"c87049d1.585918","name":"","x":310.8333282470703,"y":144.66665649414062,"wires":[["48863ef7.5b703"]]},{"id":"48863ef7.5b703","type":"switch","z":"c87049d1.585918","name":"Check Current","property":"payload[\"current\"]","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":474.16668701171875,"y":147,"wires":[["340d0bc6.cc4d34","da7af675.449e78"],["5801b6.1dc8964c"]]},{"id":"340d0bc6.cc4d34","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":640.1666870117188,"y":74.33333587646484,"wires":[]},{"id":"37a57de.1783482","type":"mqtt out","z":"c87049d1.585918","name":"Normalized Voltage","topic":"/telemetry/cntvolt-norm","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1271.5,"y":306,"wires":[]},{"id":"ed3c23a0.299618","type":"link out","z":"f9be8474.0450b8","name":"IgnitionSetOff","links":["d9b203f8.6e298","c19746be.8102b8"],"x":1252.5,"y":231,"wires":[]},{"id":"f8c4ad36.185cb","type":"link out","z":"f9be8474.0450b8","name":"IgnitionSetOn","links":["c52d9ee0.f5e96","e1ae99ba.7e98f8"],"x":1251.5,"y":191,"wires":[]},{"id":"d9b203f8.6e298","type":"link in","z":"29a47d57.7614c2","name":"","links":["ed3c23a0.299618"],"x":50.5,"y":332,"wires":[["3d80761c.cc512a","2363d27f.7e365e"]]},{"id":"3d80761c.cc512a","type":"function","z":"29a47d57.7614c2","name":"Reset Numbers when ignition is off","func":"msg.topic = \"/CANBUS/00000601\";\nmsg.payload = \"0000000000000000\"\nreturn msg;","outputs":1,"noerr":0,"x":292.5,"y":333,"wires":[["880129ca.3fb05"]]},{"id":"8f7336df.d76348","type":"inject","z":"29a47d57.7614c2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":86.5,"y":435,"wires":[["3d80761c.cc512a","2363d27f.7e365e"]]},{"id":"63400a54.5c987c","type":"mqtt out","z":"b16d71b8.a08c7","name":"sys1cpuload-out","topic":"/telemetry/sys/1/load","qos":"0","retain":"false","broker":"c665290f.ef78e","x":657,"y":321,"wires":[]},{"id":"2d30b6a8.4141b2","type":"mqtt out","z":"b16d71b8.a08c7","name":"sys1mem-out","topic":"/telemetry/sys/1/mem","qos":"0","retain":"false","broker":"c665290f.ef78e","x":648,"y":375,"wires":[]},{"id":"fa01c4d0.11ec8","type":"switch","z":"b16d71b8.a08c7","name":"Check Response","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1026.6428146362305,"y":816.8571128845215,"wires":[["ff9fc2cc.c169c8"],["4ecd6c7.d2d8414"]]},{"id":"ff9fc2cc.c169c8","type":"change","z":"b16d71b8.a08c7","name":"Not Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1241.5000305175781,"y":780.1428623199463,"wires":[["d636697d.6a5818","807877ce.e42a2"]]},{"id":"4ecd6c7.d2d8414","type":"change","z":"b16d71b8.a08c7","name":"Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1242.8571548461914,"y":864.4285507202148,"wires":[["d636697d.6a5818","c7711728.d07b58"]]},{"id":"d636697d.6a5818","type":"mqtt out","z":"b16d71b8.a08c7","name":"telemetry:sys:inet","topic":"/telemetry/sys/inet","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1513.2857055664062,"y":821.1428623199463,"wires":[]},{"id":"db2bccfd.165d08","type":"switch","z":"1b6a5816.35494","name":"Check Ignition","property":"ignition","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":128,"y":138,"wires":[["62594c16.d5377c"],["1d038bb2.c3b864"]]},{"id":"dea76144.fd50b","type":"gpsd","z":"1b6a5816.35494","name":"Adafruit Ultimate GPS","hostname":"localhost","port":"2947","tpv":true,"sky":true,"info":true,"device":true,"gst":false,"att":false,"x":105,"y":575,"wires":[["252e8765.26e4a8"]]},{"id":"24b8b3d1.7f953c","type":"switch","z":"1b6a5816.35494","name":"GPS Object Type","property":"payload.class","propertyType":"msg","rules":[{"t":"eq","v":"TPV","vt":"str"},{"t":"eq","v":"SKY","vt":"str"}],"checkall":"false","outputs":2,"x":136,"y":662,"wires":[["ccb3db1a.93e19"],[]]},{"id":"252e8765.26e4a8","type":"delay","z":"1b6a5816.35494","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":341.5,"y":575,"wires":[["24b8b3d1.7f953c"]]},{"id":"ccb3db1a.93e19","type":"switch","z":"1b6a5816.35494","name":"Check if Valid","property":"payload.mode","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"},{"t":"lte","v":"1","vt":"str"}],"checkall":"false","outputs":2,"x":328,"y":655,"wires":[["a16dbb71.d332f8"],["2bcc5cf1.a5d514"]]},{"id":"f91d3313.a0f378","type":"redis-command","z":"1b6a5816.35494","server":"b4450eab.de7d3","command":"get","name":"Get Location","topic":"","x":697.8570861816406,"y":704.1427745819092,"wires":[["40ddce1d.d1c51"]]},{"id":"a16dbb71.d332f8","type":"function","z":"1b6a5816.35494","name":"TPV Object","func":"var location = {};\nlocation[\"lat\"] = msg.payload.lat;\nlocation[\"lon\"] = msg.payload.lon;\nlocation[\"alt\"] = msg.payload.alt;\nlocation[\"spd\"] = parseInt(msg.payload.speed);\nlocation[\"climb\"] = msg.payload.climb;\nlocation[\"course\"] = msg.payload.track;\nlocation[\"time\"] = msg.payload.time;\nlocation[\"fix\"] = msg.payload.mode;\nmsg.payload = location;\nreturn msg;","outputs":"1","noerr":0,"x":825,"y":649,"wires":[["342afad0.d1fda6"]]},{"id":"1d038bb2.c3b864","type":"delay","z":"1b6a5816.35494","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":319,"y":154,"wires":[["62594c16.d5377c"]]},{"id":"f7a2df63.6d4948","type":"comment","z":"1b6a5816.35494","name":"IMPORTANTE - TEMPORATIO","info":"Substituir por sensor de movimento quando este estiver implmentado","x":128,"y":204,"wires":[]},{"id":"2363d27f.7e365e","type":"function","z":"29a47d57.7614c2","name":"Reset Numbers when ignition is off","func":"msg.topic = \"/CANBUS/00000602\";\nmsg.payload = \"0000000000000000\"\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":384,"wires":[["880129ca.3fb05"]]},{"id":"90aec87e.d55d48","type":"debug","z":"1b6a5816.35494","name":"","active":false,"console":"false","complete":"true","x":1305.5714225769043,"y":614.7143020629883,"wires":[]},{"id":"40f86725.44681","type":"comment","z":"f9be8474.0450b8","name":"Ignition Control","info":"","x":122.5,"y":93,"wires":[]},{"id":"f9fe8b68.da5838","type":"mqtt in","z":"f9be8474.0450b8","name":"","topic":"/telemetry/loc","qos":"0","broker":"c665290f.ef78e","x":116,"y":686,"wires":[["68510165.04d5f","7541f6e.5beeb88"]]},{"id":"b387643f.6034a","type":"comment","z":"f9be8474.0450b8","name":"Speed & Gear","info":"","x":111,"y":615,"wires":[]},{"id":"68510165.04d5f","type":"json","z":"f9be8474.0450b8","name":"","x":298.5,"y":686,"wires":[["a5093ff2.2597b8"]]},{"id":"7541f6e.5beeb88","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"false","x":668.5,"y":623,"wires":[]},{"id":"8b79a1c8.9e7a2","type":"mqtt out","z":"f9be8474.0450b8","name":"","topic":"/telemetry/car/speed","qos":"","retain":"","broker":"c665290f.ef78e","x":1005,"y":687,"wires":[]},{"id":"be73f69f.26d84","type":"function","z":"f9be8474.0450b8","name":"","func":"min = 8000;\nclosest = 0;\nspeed = msg.speed;\nengineRpm = msg.payload;\ngearList=[0,0,0,0,0,0];\n\nif (speed  === 0) {\n    closest =  0;        \t\n} else {\n        \t//gearList[0]=(700);\n        \tgearList[1]=((speed  * 12.9 * 5305)/621);\n\t        gearList[2]=((speed  * 7.4 * 5305)/621);\n\t        gearList[3]=((speed  * 5.1 * 5305)/621);\n\t        gearList[4]=((speed  * 4.0 * 5305)/621);\n\t        gearList[5]=((speed  * 3.2 * 5305)/621);\n\t        \n\t  i = 1;\n\t  while((i=i+1) < 5)  {\n\t     diff = Math.abs((gearList[i] - engineRpm ))\n\t        if (diff < min ) {\n\t            min = diff;\n\t            closest = i;\n\t        }\n\t    //return this.distanceTraveledSinceCodesCleared;\n      }\n}\n\nmsg.payload=closest;\n\nreturn msg;","outputs":1,"noerr":0,"x":469.5,"y":888,"wires":[["a6ec449b.507c1","2674662c.06a8c2"]]},{"id":"96924232.9c7df8","type":"redis-command","z":"f9be8474.0450b8","server":"b4450eab.de7d3","command":"get","name":"Get Data","topic":"[\"pst:enginerpm\"]","x":667,"y":767,"wires":[["be73f69f.26d84"]]},{"id":"752338b2.1cc94","type":"function","z":"f9be8474.0450b8","name":"","func":"msg.speed = msg.payload;\nmsg.payload = [\"pst:enginerpm\"]\nreturn msg;","outputs":1,"noerr":0,"x":463.5,"y":763,"wires":[["96924232.9c7df8"]]},{"id":"a6ec449b.507c1","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"false","x":621.5,"y":948,"wires":[]},{"id":"2674662c.06a8c2","type":"mqtt out","z":"f9be8474.0450b8","name":"","topic":"/telemetry/car/gear","qos":"0","retain":"false","broker":"c665290f.ef78e","x":993,"y":775,"wires":[]},{"id":"738137a9.5e129","type":"ping","z":"b16d71b8.a08c7","name":"Ping Intranet","host":"10.0.1.1","timer":"30","x":102,"y":821,"wires":[["57f845e9.3ec4dc","4f3a94ea.aa64f4"]]},{"id":"57f845e9.3ec4dc","type":"switch","z":"b16d71b8.a08c7","name":"Check Response","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":317,"y":821,"wires":[["be808c67.e21908"],["6e0e6ac.f99f194"]]},{"id":"6e0e6ac.f99f194","type":"change","z":"b16d71b8.a08c7","name":"Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":537.5,"y":840,"wires":[["73a0f3fb.c21324","6913732.4843d0c"]]},{"id":"73a0f3fb.c21324","type":"mqtt out","z":"b16d71b8.a08c7","name":"telemetry:sys:net","topic":"/telemetry/sys/net","qos":"0","retain":"false","broker":"c665290f.ef78e","x":760.7857437133789,"y":812.4285659790039,"wires":[]},{"id":"4f3a94ea.aa64f4","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":307,"y":915,"wires":[]},{"id":"be808c67.e21908","type":"change","z":"b16d71b8.a08c7","name":"Not Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":534,"y":791,"wires":[["73a0f3fb.c21324","fc72c79c.6d41d"]]},{"id":"fc72c79c.6d41d","type":"exec","z":"b16d71b8.a08c7","command":"ping ","addpay":false,"append":"-c 5 -I usb0 www.google.com","useSpawn":true,"timer":"10","name":"Ping Internet Trough USB","x":785.6428833007812,"y":734.0714149475098,"wires":[[],[],["fa01c4d0.11ec8"]]},{"id":"6913732.4843d0c","type":"exec","z":"b16d71b8.a08c7","command":"ping ","addpay":false,"append":"-c 5 -I wlan0 www.google.com","useSpawn":true,"timer":"10","name":"Ping Internet Trough Wifi","x":777.1428833007812,"y":895.7142944335938,"wires":[[],[],["fa01c4d0.11ec8"]]},{"id":"c7711728.d07b58","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":1494.9999999999998,"y":894.2857142857142,"wires":[]},{"id":"807877ce.e42a2","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":1493.142822265625,"y":742.1428833007812,"wires":[]},{"id":"7274f1eb.9928d8","type":"comment","z":"f9be8474.0450b8","name":"Odometer","info":"","x":103.5,"y":1037,"wires":[]},{"id":"5d2ac6e4.0df72","type":"mqtt out","z":"f9be8474.0450b8","name":"Odometers","topic":"","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1567,"y":1233,"wires":[]},{"id":"4a4cb001.e319e","type":"change","z":"f9be8474.0450b8","name":"","rules":[{"t":"set","p":"lastSpeedUpdate","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":703.5,"y":1131,"wires":[["cebfa2e8.5f623"]]},{"id":"1dd337ba.f8c168","type":"function","z":"f9be8474.0450b8","name":"Calculate Distance","func":"var previous = flow.get(\"lastSpeedUpdate\");\nvar current = new Date().getTime();\nvar speed = msg.payload;\n\nvar diffMs = current - previous;\n\nif (diffMs < 0 ) { \n    diffMs = 0 }\n    \n//Converts M/S to M/ms\nvar distanceM = (speed*0.000277778*diffMs);\n\nmsg.distance = parseFloat(distanceM);\n\nflow.set(\"lastSpeedUpdate\", current);\n\nmsg.prev = previous;\nmsg.curr = current;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1178.5,"y":1130,"wires":[["28ded229.399aee","dd0b0504.41d4c","e9ea9ade.607d9","73c42be0.9df244"]]},{"id":"29d0aee5.a5aaca","type":"function","z":"f9be8474.0450b8","name":"Adjust Topics","func":"var distance = parseFloat(msg.payload);\nvar topic = msg.topic;\n\nif (isNaN(distance)) { distance = 0 ; }\n\ndistance = msg.distance + distance;\n\ntopic = topic.replace( /\\:/g, \"/\");\ntopic = topic.replace(\"pst\", \"telemetry\");\ntopic = \"/\"+topic;\nmsg.topic = topic;\nmsg.payload = distance;\nreturn msg;","outputs":1,"noerr":0,"x":1345.5,"y":1234,"wires":[["5d2ac6e4.0df72","6583699e.13e558"]]},{"id":"28ded229.399aee","type":"function","z":"f9be8474.0450b8","name":"Total Odometer","func":"msg.topic = \"pst:odometer:total\";\nmsg.payload = [ msg.topic  ];\nreturn msg;","outputs":1,"noerr":0,"x":927,"y":1202,"wires":[["534f7936.a12f3"]]},{"id":"534f7936.a12f3","type":"redis-command","z":"f9be8474.0450b8","server":"b4450eab.de7d3","command":"get","name":"Get Data","topic":"","x":1173,"y":1235,"wires":[["29d0aee5.a5aaca","6583699e.13e558"]]},{"id":"e9ea9ade.607d9","type":"function","z":"f9be8474.0450b8","name":"Charge Odometer","func":"msg.topic = \"pst:odometer:charge\";\nmsg.payload = [ msg.topic  ];\nreturn msg;","outputs":1,"noerr":0,"x":933,"y":1281,"wires":[["534f7936.a12f3"]]},{"id":"6583699e.13e558","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"payload","x":1516.5,"y":1337,"wires":[]},{"id":"cebfa2e8.5f623","type":"switch","z":"f9be8474.0450b8","name":"Check if Moving","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":944.5,"y":1129,"wires":[["1dd337ba.f8c168","a8af3f30.999948"],[]]},{"id":"dd0b0504.41d4c","type":"function","z":"f9be8474.0450b8","name":"Trip Odometer","func":"msg.topic = \"pst:odometer:trip\";\nmsg.payload = [ msg.topic  ];\nreturn msg;","outputs":1,"noerr":0,"x":924,"y":1239,"wires":[["534f7936.a12f3"]]},{"id":"4ab24e6f.b2c168","type":"function","z":"f9be8474.0450b8","name":"Reset Trip Odometer","func":"msg.payload = [ \"pst:odometer:trip\", 0  ];\nreturn msg;","outputs":1,"noerr":0,"x":1397,"y":157,"wires":[["932980e3.b33778"]]},{"id":"932980e3.b33778","type":"redis-command","z":"f9be8474.0450b8","server":"b4450eab.de7d3","command":"set","name":"","topic":"","x":1616.5,"y":156,"wires":[[]]},{"id":"f702938a.c16498","type":"mqtt out","z":"f9be8474.0450b8","name":"","topic":"/ETHBUS/tripId","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1618,"y":67,"wires":[]},{"id":"494ae48b.7682ec","type":"inject","z":"f9be8474.0450b8","name":"Injects 10 M/s of speed","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":1311.5,"y":1058,"wires":[["1dd337ba.f8c168"]]},{"id":"73c42be0.9df244","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"true","x":1463,"y":1162,"wires":[]},{"id":"af7f2f6d.7cd9","type":"mqtt in","z":"201462d9.08e26e","name":"","topic":"/CANBUS/#","qos":"0","broker":"c665290f.ef78e","x":130.71429061889648,"y":221.42858600616455,"wires":[["c96509e0.931ed8"]]},{"id":"c96509e0.931ed8","type":"switch","z":"201462d9.08e26e","name":"Check Trace Enabled","property":"trace","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":337.28570556640625,"y":221.42857360839844,"wires":[["84e86145.1d23d8"],[]]},{"id":"1cd5f3ff.38807c","type":"file","z":"201462d9.08e26e","name":"","filename":"/home/pi/canbus.trace","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1072.5714111328125,"y":214.7142791748047,"wires":[]},{"id":"deeea0a3.68e09","type":"inject","z":"201462d9.08e26e","name":"Set Trace On","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":127.85714285714285,"y":59.99999999999999,"wires":[["19763855.980588"]]},{"id":"19763855.980588","type":"change","z":"201462d9.08e26e","name":"","rules":[{"t":"set","p":"trace","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":385.00000762939453,"y":60,"wires":[[]]},{"id":"bcd7f702.d51c98","type":"inject","z":"201462d9.08e26e","name":"Set Trace Off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":128.57142639160156,"y":108.5714340209961,"wires":[["19763855.980588"]]},{"id":"2bcc5cf1.a5d514","type":"change","z":"1b6a5816.35494","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:loc\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":513.5714569091797,"y":704.285737991333,"wires":[["f91d3313.a0f378"]]},{"id":"aca97f73.c479c","type":"function","z":"1b6a5816.35494","name":"Set Speed","func":"var location = {};\nlocation[\"lat\"] = msg.payload.lat;\nlocation[\"lon\"] = msg.payload.lon;\nlocation[\"alt\"] = msg.payload.alt;\nlocation[\"spd\"] = parseInt(msg.payload.speed)*3.6;\nlocation[\"climb\"] = msg.payload.climb;\nlocation[\"course\"] = msg.payload.track;\nlocation[\"time\"] = msg.payload.time;\nlocation[\"fix\"] = msg.payload.mode;\nmsg.payload = location;\nreturn msg;","outputs":"1","noerr":0,"x":1237.142822265625,"y":422.8571472167969,"wires":[[]]},{"id":"d9514dbc.0f574","type":"inject","z":"f9be8474.0450b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1119.5,"y":166,"wires":[["4ab24e6f.b2c168"]]},{"id":"84e86145.1d23d8","type":"delay","z":"201462d9.08e26e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":552.5,"y":214,"wires":[["8fc5b799.77c88"]]},{"id":"8fc5b799.77c88","type":"function","z":"201462d9.08e26e","name":"","func":"var now = Math.round(new Date());\nmsg.payload=now + \",\" + msg.topic + \",\" +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":768.5,"y":215,"wires":[["1cd5f3ff.38807c"]]},{"id":"a8af3f30.999948","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"false","x":1055.5,"y":1042,"wires":[]},{"id":"77f42ccc.653604","type":"comment","z":"a97915af.6022b","name":"Receives and parses the 12v system Voltage","info":"","x":176.5,"y":44,"wires":[]},{"id":"48d2ff5d.0d6b98","type":"comment","z":"a97915af.6022b","name":"Controls the DC-DC Converter if needed - part will be moved to the ECU1 controller","info":"","x":296,"y":269,"wires":[]},{"id":"f4237bf1.eea9f","type":"switch","z":"a97915af.6022b","name":"Check Voltage","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"11.90","vt":"num"},{"t":"gte","v":"14.5","vt":"num"},{"t":"else"}],"checkall":"true","outputs":3,"x":470.5,"y":419,"wires":[["a71abdf8.b6647"],["b2afc836.c2457"],[]]},{"id":"3ec3cee9.f985c2","type":"switch","z":"a97915af.6022b","name":"Check Ignition","property":"ignition","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":252.5,"y":394,"wires":[["a71abdf8.b6647","8e08dee1.7df54"],["f4237bf1.eea9f","a85ec309.2a5fd"]]},{"id":"a71abdf8.b6647","type":"change","z":"a97915af.6022b","name":"Turn On","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1017.5,"y":389,"wires":[["cb3ca2.19318b6"]]},{"id":"b2afc836.c2457","type":"change","z":"a97915af.6022b","name":"Turn Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1019,"y":423,"wires":[["cb3ca2.19318b6","58f122df.d784ec"]]},{"id":"5222f6d9.a5b9e8","type":"mqtt out","z":"a97915af.6022b","name":"","topic":"/ETHBUS/ecu1/in/dcdc/status","qos":"1","retain":"false","broker":"c665290f.ef78e","x":1760.5,"y":408,"wires":[]},{"id":"4b048f69.aec038","type":"debug","z":"a97915af.6022b","name":"Not Changed","active":false,"console":"false","complete":"payload","x":1412.5,"y":360,"wires":[]},{"id":"f7f566d5.172dc","type":"comment","z":"a6371553.447a4","name":"Time based telemetry persistence","info":"","x":165,"y":47.500003814697266,"wires":[]},{"id":"f4472bea.2675e8","type":"comment","z":"a6371553.447a4","name":"Exception Catch","info":"","x":827.5000076293945,"y":982.5000658035278,"wires":[]},{"id":"a64c96c5.25eac","type":"delay","z":"1b6a5816.35494","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1279.5,"y":172,"wires":[["aa2acb5c.85712","9d5a010c.858ce"]]},{"id":"4253af23.686d4","type":"inject","z":"51fa44b3.b8d92c","name":"Set Ignition On","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":173.88888888888889,"y":64.44444444444444,"wires":[["36a3a8e3.7fd67"]]},{"id":"36a3a8e3.7fd67","type":"change","z":"51fa44b3.b8d92c","name":"","rules":[{"t":"set","p":"ignition","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":391.6666666666667,"y":85.55555555555556,"wires":[[]]},{"id":"6379d5c2.d2f444","type":"inject","z":"51fa44b3.b8d92c","name":"Set Ignition On","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":181.11109924316406,"y":109.99999237060547,"wires":[["36a3a8e3.7fd67"]]},{"id":"a5093ff2.2597b8","type":"function","z":"f9be8474.0450b8","name":"","func":"var speed = msg.payload[\"spd\"];\nspeed = speed * 3.6;\nmsg.payload = speed;\nreturn msg;","outputs":1,"noerr":0,"x":488.3333282470703,"y":684.4444923400879,"wires":[["8b79a1c8.9e7a2","7541f6e.5beeb88","4a4cb001.e319e"]]},{"id":"73ff2f9b.7be94","type":"mqtt out","z":"c87049d1.585918","name":"voltmain-out","topic":"/telemetry/battery/voltmain","qos":"","retain":"","broker":"c665290f.ef78e","x":1256,"y":249,"wires":[]},{"id":"a4c4b488.3c2f88","type":"mqtt in","z":"7e75c94b.171468","name":"","topic":"/telemetry/battery/voltmain","qos":"0","broker":"c665290f.ef78e","x":129.5,"y":137,"wires":[["268f7058.d2a88","6616d040.b5505"]]},{"id":"3e502c4d.f5c97c","type":"change","z":"7e75c94b.171468","name":"Charging","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":822.5,"y":36,"wires":[["3c1a5228.5cde56"]]},{"id":"268f7058.d2a88","type":"switch","z":"7e75c94b.171468","name":"Check Charging Status","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"105","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":403.5,"y":135,"wires":[["5433b993.8d6588"],["2541aa66.a4b7de"]]},{"id":"2541aa66.a4b7de","type":"change","z":"7e75c94b.171468","name":"Not Charging","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":831,"y":140,"wires":[["3c1a5228.5cde56"]]},{"id":"3c1a5228.5cde56","type":"change","z":"7e75c94b.171468","name":"Set Global Context","rules":[{"t":"set","p":"charging","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100.5,"y":115,"wires":[["66a2175f.f9af2","2b8601d2.4d3ec6"]]},{"id":"cf681155.9ad2d8","type":"mqtt out","z":"7e75c94b.171468","name":"","topic":"/telemetry/charger/charging","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1517.5,"y":115,"wires":[]},{"id":"9fb4f1e7.d4a9d","type":"comment","z":"7e75c94b.171468","name":"Check if charging based on Voltage","info":"Adjusts global context variable\nSends to telemetry topic\n\n\n*** Input will be replaced to the CANBUS\n*** messages from the charge\n\n*** Separate topic used so in the future we can have\n*** more information like /telemetry/charger/current\n","x":157.5,"y":49,"wires":[]},{"id":"66a2175f.f9af2","type":"debug","z":"7e75c94b.171468","name":"","active":false,"console":"false","complete":"false","x":1318.5,"y":50,"wires":[]},{"id":"1da2473e.7d2499","type":"comment","z":"a97915af.6022b","name":"Shutsdown DCDC Controller when ignition is off","info":"","x":192,"y":497,"wires":[]},{"id":"c19746be.8102b8","type":"link in","z":"a97915af.6022b","name":"","links":["ed3c23a0.299618"],"x":190.5,"y":542,"wires":[["50fe840.ab7b2fc"]]},{"id":"50fe840.ab7b2fc","type":"delay","z":"a97915af.6022b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":463.5,"y":551,"wires":[["6b614646.2bd3e"]]},{"id":"445e36a8.fe92","type":"inject","z":"a97915af.6022b","name":"Manual On","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":814.5,"y":355,"wires":[["a71abdf8.b6647","bf1a9d49.eed6b8"]]},{"id":"4adad699.3b1b9","type":"inject","z":"a97915af.6022b","name":"Manual Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":816,"y":454,"wires":[["b2afc836.c2457"]]},{"id":"e9e94978.7279d8","type":"comment","z":"7e75c94b.171468","name":"Detects a new Charge Cycle","info":"Adjusts global context variable\nSends to telemetry topic\n\n\n*** Input will be replaced to the CANBUS\n*** messages from the charge\n\n*** Separate topic used so in the future we can have\n*** more information like /telemetry/charger/current\n","x":138,"y":235,"wires":[]},{"id":"2b8601d2.4d3ec6","type":"rbe","z":"7e75c94b.171468","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1282.5,"y":115,"wires":[["cf681155.9ad2d8"]]},{"id":"40c46f54.e9cdf","type":"mqtt in","z":"7e75c94b.171468","name":"","topic":"/telemetry/charger/charging","qos":"0","broker":"c665290f.ef78e","x":142.5,"y":368,"wires":[["4bf313b7.c24fbc"]]},{"id":"b37d6bf1.918068","type":"switch","z":"7e75c94b.171468","name":"Is it charging? ","property":"charging","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":650.5,"y":368,"wires":[["f9d9f0d8.dba6b","8cd0f94c.c1c8"]]},{"id":"4bf313b7.c24fbc","type":"rbe","z":"7e75c94b.171468","name":"Charging Value Changed","func":"rbe","gap":"","start":"","inout":"out","x":414.5,"y":368,"wires":[["b37d6bf1.918068"]]},{"id":"bb835c0b.967cf","type":"redis-command","z":"7e75c94b.171468","server":"b4450eab.de7d3","command":"incr","name":"Increment Charge Number","topic":"","x":1097.5,"y":334,"wires":[["1208a43d.59ac24"]]},{"id":"55b3cc51.145e94","type":"mqtt out","z":"7e75c94b.171468","name":"","topic":"/telemetry/odometer/charge","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1191,"y":394,"wires":[]},{"id":"f9d9f0d8.dba6b","type":"change","z":"7e75c94b.171468","name":"Reset Charge Odometer","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":909.5,"y":394,"wires":[["55b3cc51.145e94"]]},{"id":"147cb90b.b215df","type":"catch","z":"a6371553.447a4","name":"","scope":null,"x":100.5,"y":404,"wires":[["61586f68.ec3a88"]]},{"id":"61586f68.ec3a88","type":"debug","z":"a6371553.447a4","name":"","active":true,"console":"false","complete":"true","x":244.5,"y":480,"wires":[]},{"id":"4cc2188d.968798","type":"debug","z":"a6371553.447a4","name":"","active":true,"console":"false","complete":"status","x":416,"y":893,"wires":[]},{"id":"b2405678.0da7e","type":"comment","z":"58ddad43.4caf1c","name":"Brake Detection","info":"","x":132,"y":89,"wires":[]},{"id":"2deea785.68d458","type":"debug","z":"58ddad43.4caf1c","name":"","active":false,"console":"false","complete":"false","x":365.5,"y":108,"wires":[]},{"id":"e7f3341a.be1148","type":"switch","z":"58ddad43.4caf1c","name":"Check Brake Status","property":"payload[\"brake\"]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":3,"x":394.5,"y":170,"wires":[["c2633c26.3f2718"],["c825e60b.178a1"],["c825e60b.178a1"]]},{"id":"c2633c26.3f2718","type":"change","z":"58ddad43.4caf1c","name":"Set Brakes On","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":627.5,"y":152,"wires":[["230dffda.8445c8"]]},{"id":"c825e60b.178a1","type":"change","z":"58ddad43.4caf1c","name":"Set Brakes Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":626,"y":193,"wires":[["230dffda.8445c8"]]},{"id":"230dffda.8445c8","type":"mqtt out","z":"58ddad43.4caf1c","name":"","topic":"/telemetry/car/brakes","qos":"0","retain":"false","broker":"c665290f.ef78e","x":869,"y":168,"wires":[]},{"id":"d5c56cfb.4fe778","type":"change","z":"58ddad43.4caf1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":376,"y":418,"wires":[["3bf470d2.ebdbd8"]]},{"id":"3bf470d2.ebdbd8","type":"mqtt out","z":"58ddad43.4caf1c","name":"","topic":"/ETHBUS/ecu1/in/brake/status","qos":"","retain":"","broker":"c665290f.ef78e","x":776,"y":415,"wires":[]},{"id":"e1ae99ba.7e98f8","type":"link in","z":"58ddad43.4caf1c","name":"","links":["f8c4ad36.185cb"],"x":78.5,"y":417,"wires":[["d5c56cfb.4fe778"]]},{"id":"7ede84be.355ddc","type":"comment","z":"58ddad43.4caf1c","name":"Pre-charge vacuum when ignition on","info":"","x":200,"y":318,"wires":[]},{"id":"2e6e9b6a.43f59c","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":854.5,"y":104,"wires":[]},{"id":"5f425eb0.e82c28","type":"mqtt in","z":"58ddad43.4caf1c","name":"","topic":"/ETHBUS/ecu1/","qos":"0","broker":"c665290f.ef78e","x":99,"y":171,"wires":[["3110883b.7f7678"]]},{"id":"3110883b.7f7678","type":"json","z":"58ddad43.4caf1c","name":"","x":230.5,"y":236,"wires":[["e7f3341a.be1148","2deea785.68d458"]]},{"id":"6616d040.b5505","type":"debug","z":"7e75c94b.171468","name":"","active":false,"console":"false","complete":"false","x":405.5,"y":232,"wires":[]},{"id":"1208a43d.59ac24","type":"debug","z":"7e75c94b.171468","name":"","active":true,"console":"false","complete":"false","x":1356.5,"y":333,"wires":[]},{"id":"8cd0f94c.c1c8","type":"change","z":"7e75c94b.171468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:charger:chargeId\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":851.5,"y":334,"wires":[["bb835c0b.967cf"]]},{"id":"58c5b827.bff25","type":"inject","z":"7e75c94b.171468","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":637.5,"y":322,"wires":[["8cd0f94c.c1c8"]]},{"id":"c5decb5d.3f5408","type":"mqtt in","z":"29a47d57.7614c2","name":"","topic":"/CANBUS/00000602","qos":"0","broker":"c665290f.ef78e","x":106,"y":269,"wires":[["eff15b1d.f3b948"]]},{"id":"eff15b1d.f3b948","type":"delay","z":"29a47d57.7614c2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360.3333435058594,"y":257.6666564941406,"wires":[["880129ca.3fb05"]]},{"id":"5801b6.1dc8964c","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":765,"y":245,"wires":[]},{"id":"a09cefa3.111a2","type":"mqtt in","z":"8bfaaedf.cc2148","name":"","topic":"/ETHBUS/ecu1/","qos":"0","broker":"c665290f.ef78e","x":93,"y":172.00000858306885,"wires":[["85a0733b.8131a"]]},{"id":"82359d8d.f650d","type":"comment","z":"8bfaaedf.cc2148","name":"Processamento Temporátio de SOC","info":"","x":145,"y":63.99999523162842,"wires":[]},{"id":"b07e3c3a.468af8","type":"json","z":"8bfaaedf.cc2148","name":"","x":278.3333282470703,"y":172.33332443237305,"wires":[["ec1f669e.96c758","1752a63b.79f5e2","31cf2641.01e99a","5e3b8177.45fd18"]]},{"id":"f37ab98a.562f5","type":"function","z":"8bfaaedf.cc2148","name":"Create Volt & Current Object","func":"var payload = {};\npayload[\"volt\"] = msg.payload[\"volt\"] / 100;\npayload[\"current\"] = (msg.payload[\"curr\"] / 100);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":39.666656494140625,"wires":[["bec758bd.f33db8","f16cafa9.904328","7e4bb918.aab94","af20cc6f.6d5bc8"]]},{"id":"bec758bd.f33db8","type":"mqtt out","z":"8bfaaedf.cc2148","name":"power-out","topic":"/telemetry/battery/power","qos":"","retain":"","broker":"c665290f.ef78e","x":1013.5,"y":176.66665649414062,"wires":[]},{"id":"85a0733b.8131a","type":"delay","z":"8bfaaedf.cc2148","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":204,"y":272.66666412353516,"wires":[["b07e3c3a.468af8"]]},{"id":"3700e8cf.c72e28","type":"mqtt out","z":"8bfaaedf.cc2148","name":"current-out","topic":"/telemetry/battery/current","qos":"","retain":"","broker":"c665290f.ef78e","x":1022,"y":301,"wires":[]},{"id":"d3369a7f.a8a26","type":"mqtt out","z":"8bfaaedf.cc2148","name":"voltage-out","topic":"/telemetry/battery/voltage","qos":"","retain":"","broker":"c665290f.ef78e","x":1010,"y":367,"wires":[]},{"id":"f16cafa9.904328","type":"change","z":"8bfaaedf.cc2148","name":"Current","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"current\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":489.5,"y":300,"wires":[["dd9bf355.20687"]]},{"id":"dd9bf355.20687","type":"smooth","z":"8bfaaedf.cc2148","name":"","action":"low","count":"2","round":"1","x":712.5,"y":300,"wires":[["3700e8cf.c72e28","fa820800.9a4b08"]]},{"id":"7e4bb918.aab94","type":"change","z":"8bfaaedf.cc2148","name":"Voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"volt\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":489,"y":395,"wires":[["50ccaa3.fdd8c54"]]},{"id":"eb39efc6.4c7e28","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1010,"y":415,"wires":[]},{"id":"fa820800.9a4b08","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1021,"y":265,"wires":[]},{"id":"ec1f669e.96c758","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":195,"y":405,"wires":[]},{"id":"da7af675.449e78","type":"change","z":"c87049d1.585918","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"volt\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":659.5,"y":135,"wires":[["f6719c05.b60a38"]]},{"id":"50ccaa3.fdd8c54","type":"smooth","z":"8bfaaedf.cc2148","name":"","action":"low","count":"2","round":"1","x":710,"y":395,"wires":[["d3369a7f.a8a26","eb39efc6.4c7e28"]]},{"id":"af20cc6f.6d5bc8","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":744.6666870117188,"y":131,"wires":[]},{"id":"1752a63b.79f5e2","type":"change","z":"8bfaaedf.cc2148","name":"DCDC Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"dcdc\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.5,"y":503,"wires":[["43c0855b.c613ac","b93e3be0.67a07"]]},{"id":"a85ec309.2a5fd","type":"debug","z":"a97915af.6022b","name":"","active":false,"console":"false","complete":"false","x":283.5,"y":435,"wires":[]},{"id":"8e08dee1.7df54","type":"debug","z":"a97915af.6022b","name":"","active":false,"console":"false","complete":"false","x":288,"y":354,"wires":[]},{"id":"f3a58449.5237e8","type":"debug","z":"f9be8474.0450b8","name":"","active":true,"console":"false","complete":"false","x":1288,"y":456,"wires":[]},{"id":"68c0e2ac.a96dfc","type":"debug","z":"a97915af.6022b","name":"New Message","active":true,"console":"false","complete":"payload","x":1410,"y":452,"wires":[]},{"id":"bf1a9d49.eed6b8","type":"delay","z":"a97915af.6022b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":734,"y":623,"wires":[["6b614646.2bd3e"]]},{"id":"6b614646.2bd3e","type":"switch","z":"a97915af.6022b","name":"Check Ign","property":"ignition","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":816,"y":500,"wires":[[],["b2afc836.c2457"]]},{"id":"cb3ca2.19318b6","type":"switch","z":"a97915af.6022b","name":"If Changed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"dcdc","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1201.5,"y":402,"wires":[["4b048f69.aec038"],["32bfa0ca.48a368","68c0e2ac.a96dfc","52e1aaa.1044b54"]]},{"id":"32bfa0ca.48a368","type":"change","z":"a97915af.6022b","name":"Adjust Variables - Set  Global","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1455.5,"y":408,"wires":[["5222f6d9.a5b9e8"]]},{"id":"137d512e.dd2f67","type":"ui_switch","z":"c74ca758.81a04","name":"","label":"Ignition","group":"ee729ad6.4dc11","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":478.5,"y":85,"wires":[[]]},{"id":"3a3c94c1.a4c74c","type":"ui_switch","z":"c74ca758.81a04","name":"","label":"DCDC Converter","group":"ee729ad6.4dc11","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":509,"y":125,"wires":[[]]},{"id":"2cc649f9.eb9eb6","type":"inject","z":"c74ca758.81a04","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":111.5,"y":62,"wires":[["94d69b5c.b3be28","ea650f22.62cdd8","14c5e7f2.be6af8","82c35c96.2a7c88","71fde6bb.5e6ed","d052fbd7.a70288","dcd24394.56b4a","d1d91942.cfff8","a717f50b.3953d8","326a7406.d71d34","c20ccf3b.a0e35"]]},{"id":"94d69b5c.b3be28","type":"switch","z":"c74ca758.81a04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"dcdc","vt":"global"}],"checkall":"true","outputs":1,"x":301,"y":125,"wires":[["3a3c94c1.a4c74c"]]},{"id":"66ff53b1.94bdb4","type":"ui_switch","z":"c74ca758.81a04","name":"","label":"is Charging","group":"ee729ad6.4dc11","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":492,"y":175,"wires":[[]]},{"id":"ccd4a75d.152078","type":"delay","z":"1b6a5816.35494","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1369.5,"y":707,"wires":[["326167d5.1d069"]]},{"id":"ea650f22.62cdd8","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:voltmain\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":332.5,"y":224,"wires":[["25bd7582.2d941a"]]},{"id":"25bd7582.2d941a","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":515.5,"y":223,"wires":[["9dd39b0d.e075d8"]]},{"id":"9dd39b0d.e075d8","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":3,"width":0,"height":0,"name":"","label":"Voltage","format":"{{msg.payload}}","layout":"row-spread","x":728.5,"y":223,"wires":[]},{"id":"c504ecff.4703c","type":"change","z":"1b6a5816.35494","name":"Adjust Speed","rules":[{"t":"set","p":"payload[\"spd\"]","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160.5,"y":67,"wires":[["a64c96c5.25eac"]]},{"id":"eabd878c.689e68","type":"switch","z":"1b6a5816.35494","name":"","property":"ignition","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":1081.5,"y":167,"wires":[["c504ecff.4703c"],["a64c96c5.25eac"]]},{"id":"71d10a9f.117ae4","type":"change","z":"c87049d1.585918","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:cnttrt\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":255.5,"y":484,"wires":[["c57ea53b.9c81b8"]]},{"id":"b00c24e5.9fb2f","type":"delay","z":"c87049d1.585918","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":233.5,"y":168,"wires":[["bb11a27d.000fa"]]},{"id":"58f122df.d784ec","type":"debug","z":"a97915af.6022b","name":"","active":false,"console":"false","complete":"false","x":1108.5,"y":485,"wires":[]},{"id":"52e1aaa.1044b54","type":"switch","z":"a97915af.6022b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":930.5,"y":561,"wires":[["bf1a9d49.eed6b8"]]},{"id":"533dcc3e.5d198c","type":"debug","z":"bdbe2d06.23081","name":"","active":false,"console":"false","complete":"true","x":236,"y":78,"wires":[]},{"id":"b874d0eb.58a9e8","type":"mqtt in","z":"8bfaaedf.cc2148","name":"","topic":"/ETHBUS/battery/mainpack/","qos":"0","broker":"c665290f.ef78e","x":142,"y":968,"wires":[["dd56e508.3c9dd"]]},{"id":"31fcdf1b.93082","type":"comment","z":"8bfaaedf.cc2148","name":"Processamento Temporátio de SOC","info":"","x":159,"y":662.9999866485596,"wires":[]},{"id":"df6618f7.73041","type":"json","z":"8bfaaedf.cc2148","name":"","x":292.3333282470703,"y":771.3333158493042,"wires":[["fa902506.684448","47b59e67.e210e","5546267c.27364","db16903c.06ee1","4be44fdc.b02948","970ecb43.c0dfd8","1d4ac458.31f08c","629b3870.71fbb","617cfc2b.d353dc"]]},{"id":"fa902506.684448","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":646.6666870117188,"y":710.9999914169312,"wires":[]},{"id":"47b59e67.e210e","type":"change","z":"8bfaaedf.cc2148","name":"Battery 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"1\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630.5,"y":771,"wires":[["ee309e73.288cb8"]]},{"id":"5546267c.27364","type":"change","z":"8bfaaedf.cc2148","name":"Battery 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"2\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":813,"wires":[["16d9adeb.e6d23a"]]},{"id":"db16903c.06ee1","type":"change","z":"8bfaaedf.cc2148","name":"Battery 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"3\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":856,"wires":[["b07f6966.286158"]]},{"id":"4be44fdc.b02948","type":"change","z":"8bfaaedf.cc2148","name":"Battery 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"4\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":632,"y":901,"wires":[["2e39525b.c6cb8e"]]},{"id":"970ecb43.c0dfd8","type":"change","z":"8bfaaedf.cc2148","name":"Battery 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"5\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":631,"y":947,"wires":[["629f8f69.3ffbf"]]},{"id":"1d4ac458.31f08c","type":"change","z":"8bfaaedf.cc2148","name":"Battery 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"6\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":634,"y":989,"wires":[["95d5e79f.65bdb"]]},{"id":"629b3870.71fbb","type":"change","z":"8bfaaedf.cc2148","name":"Battery 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"7\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":636,"y":1029,"wires":[["2a6e54a6.4b1ee4"]]},{"id":"617cfc2b.d353dc","type":"change","z":"8bfaaedf.cc2148","name":"Battery 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"8\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1072,"wires":[["e48dacf3.81f938"]]},{"id":"ae9ce73.c1c0a18","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/bat1","qos":"","retain":"","broker":"c665290f.ef78e","x":1117,"y":770,"wires":[]},{"id":"ee309e73.288cb8","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01)).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":839,"y":772,"wires":[["ae9ce73.c1c0a18","700e0bb6.b1800c"]]},{"id":"2c882666.677a1a","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/bat2","qos":"","retain":"","broker":"c665290f.ef78e","x":1119,"y":813,"wires":[]},{"id":"eabe4820.b29e58","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/bat3","qos":"","retain":"","broker":"c665290f.ef78e","x":1119,"y":859,"wires":[]},{"id":"90ab5fff.9bc22","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/bat4","qos":"","retain":"","broker":"c665290f.ef78e","x":1120,"y":900,"wires":[]},{"id":"6b0e0e39.14b318","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/bat5","qos":"","retain":"","broker":"c665290f.ef78e","x":1121,"y":942,"wires":[]},{"id":"bb1cadf6.a853c8","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/bat6","qos":"","retain":"","broker":"c665290f.ef78e","x":1122,"y":984,"wires":[]},{"id":"ebc32d7c.384fb","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/bat7","qos":"","retain":"","broker":"c665290f.ef78e","x":1124,"y":1026,"wires":[]},{"id":"ca530329.6075e","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/bat8","qos":"","retain":"","broker":"c665290f.ef78e","x":1120,"y":1069,"wires":[]},{"id":"16d9adeb.e6d23a","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01)).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":839,"y":813,"wires":[["2c882666.677a1a"]]},{"id":"b07f6966.286158","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01)).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":842,"y":861,"wires":[["eabe4820.b29e58"]]},{"id":"2e39525b.c6cb8e","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01)).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":841,"y":903,"wires":[["90ab5fff.9bc22"]]},{"id":"629f8f69.3ffbf","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01)).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":841,"y":951,"wires":[["6b0e0e39.14b318"]]},{"id":"95d5e79f.65bdb","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01)).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":842,"y":989,"wires":[["bb1cadf6.a853c8"]]},{"id":"2a6e54a6.4b1ee4","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01)).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":844,"y":1031,"wires":[["ebc32d7c.384fb"]]},{"id":"e48dacf3.81f938","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01)).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1072,"wires":[["ca530329.6075e","8caaa7c6.c15fb8"]]},{"id":"31cf2641.01e99a","type":"change","z":"8bfaaedf.cc2148","name":"Ignition","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"ign\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":468,"y":555,"wires":[["8322060b.e75dc"]]},{"id":"5e3b8177.45fd18","type":"change","z":"8bfaaedf.cc2148","name":"12v","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"12v\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":462,"y":599,"wires":[["af27a360.4864a"]]},{"id":"117fde78.f5106a","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/ign/","qos":"","retain":"","broker":"c665290f.ef78e","x":901.5,"y":556,"wires":[]},{"id":"353738d8.7ff5","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/12v/raw","qos":"","retain":"","broker":"c665290f.ef78e","x":928.5,"y":604,"wires":[]},{"id":"24f5a462.250bdc","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":909,"y":692,"wires":[]},{"id":"8322060b.e75dc","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01),2);\nreturn msg;","outputs":1,"noerr":0,"x":669.5,"y":558,"wires":[["117fde78.f5106a","24f5a462.250bdc"]]},{"id":"af27a360.4864a","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat((msg.payload *0.01),2);\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":604,"wires":[["353738d8.7ff5"]]},{"id":"5433b993.8d6588","type":"switch","z":"7e75c94b.171468","name":"Ignition is on? ","property":"ignition","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":637,"y":78,"wires":[["3e502c4d.f5c97c"],["2541aa66.a4b7de","a91bd949.4bcac8"]]},{"id":"48b147cf.8ff9f","type":"inject","z":"a6371553.447a4","name":"Charging Frequency","topic":"","payload":"[\"pst*\"]","payloadType":"json","repeat":"60","crontab":"","once":false,"x":129,"y":147,"wires":[["5babf53e.1b8a34"]]},{"id":"5babf53e.1b8a34","type":"switch","z":"a6371553.447a4","name":"Check Charging","property":"charging","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":346,"y":147,"wires":[["18012239.abb0ae","3c1ffb3d.8e8c04"],[]]},{"id":"d8ea41ac.a03d78","type":"mqtt in","z":"8bfaaedf.cc2148","name":"Raw Readings","topic":"/ETHBUS/battery/mainpack/raw/#","qos":"0","broker":"c665290f.ef78e","x":107,"y":1253,"wires":[["ed502cf0.4b69f8"]]},{"id":"ed502cf0.4b69f8","type":"json","z":"8bfaaedf.cc2148","name":"","x":302.3333282470703,"y":1253.3333158493042,"wires":[["3f2119d8.6b82d6","c7f63132.57aa6","9c2e2cfc.706b2","2a6832f9.d6fe06","ee4539b6.ef489","62642fd0.cd3c58","90c5493a.d1da","18d32374.2a32d5","2e065e0f.51f55a"]]},{"id":"3f2119d8.6b82d6","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":656.6666870117188,"y":1192.9999914169312,"wires":[]},{"id":"c7f63132.57aa6","type":"change","z":"8bfaaedf.cc2148","name":"Battery 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"1\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640.5,"y":1253,"wires":[["67117815.2742e"]]},{"id":"9c2e2cfc.706b2","type":"change","z":"8bfaaedf.cc2148","name":"Battery 2","rules":[{"t":"set","p":"prevBat","pt":"msg","to":"payload[\"1\"]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[\"2\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1295,"wires":[["1f2c6a24.c7420e"]]},{"id":"2a6832f9.d6fe06","type":"change","z":"8bfaaedf.cc2148","name":"Battery 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"3\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1338,"wires":[["eb7c1631.1795f8"]]},{"id":"ee4539b6.ef489","type":"change","z":"8bfaaedf.cc2148","name":"Battery 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"4\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":642,"y":1383,"wires":[["5ed177d5.ec2518"]]},{"id":"62642fd0.cd3c58","type":"change","z":"8bfaaedf.cc2148","name":"Battery 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"5\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":641,"y":1429,"wires":[["66527845.db961"]]},{"id":"90c5493a.d1da","type":"change","z":"8bfaaedf.cc2148","name":"Battery 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"6\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":1471,"wires":[["27ac672b.b43bc"]]},{"id":"18d32374.2a32d5","type":"change","z":"8bfaaedf.cc2148","name":"Battery 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"7\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":646,"y":1511,"wires":[["68ca195e.5c55f"]]},{"id":"2e065e0f.51f55a","type":"change","z":"8bfaaedf.cc2148","name":"Battery 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"8\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1554,"wires":[["5490dfe4.2205d8","a84b5fd8.4ded68"]]},{"id":"334f6d33.875892","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload = (msg.payload*5.0)/1024;\nmsg.payload = msg.payload/0.0348395441;\nreturn msg;","outputs":1,"noerr":0,"x":1245,"y":1258,"wires":[["a4b42d50.d76d08"]]},{"id":"a4b42d50.d76d08","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1441.5,"y":1258,"wires":[]},{"id":"e16fb2c6.ff0b9","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"true","x":1463,"y":1301,"wires":[]},{"id":"d4d3c904.0d2208","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"var raw = parseFloat(msg.payload);\nvar previousRaw = parseFloat(msg.prevBat);\nmsg.voltage  = ((raw*5.0)/1024/0.0348395441);\nmsg.indVoltage = (((raw-previousRaw)*5.0)/1024/0.0348395441)\n\nreturn msg;","outputs":1,"noerr":0,"x":1245,"y":1299,"wires":[["e16fb2c6.ff0b9"]]},{"id":"e5450d78.cda27","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload = (msg.payload*5.0)/1024;\nmsg.payload = msg.payload/0.0348395441;\nreturn msg;","outputs":1,"noerr":0,"x":1245,"y":1344,"wires":[["bea73c5f.4d0188"]]},{"id":"4d30a381.a09d94","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload = (msg.payload*5.0)/1024;\nmsg.payload = msg.payload/0.0348395441;\nreturn msg;","outputs":1,"noerr":0,"x":1244,"y":1385,"wires":[["ebb05f46.b5c248"]]},{"id":"9661cb6b.a0bcb","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload = (msg.payload*5.0)/1024;\nmsg.payload = msg.payload/0.0348395441;\nreturn msg;","outputs":1,"noerr":0,"x":1248,"y":1434,"wires":[["1cadd0dc.40f8e7"]]},{"id":"6835bfcc.74d6d","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload = (msg.payload*5.0)/1024;\nmsg.payload = msg.payload/0.0348395441;\nreturn msg;","outputs":1,"noerr":0,"x":1251,"y":1487,"wires":[["6b90fc62.918f4c"]]},{"id":"b13d9e6a.337d","type":"function","z":"8bfaaedf.cc2148","name":"Transform to Decimal","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload = (msg.payload*5.0)/1024;\nmsg.payload = msg.payload/0.0348395441;\nreturn msg;","outputs":1,"noerr":0,"x":1245,"y":1520,"wires":[["bb53a604.7300e8"]]},{"id":"5490dfe4.2205d8","type":"function","z":"8bfaaedf.cc2148","name":"Transform","func":"msg.payload = parseFloat(msg.payload,2);\nmsg.payload = (msg.payload*5.0)/1024;\nmsg.payload = msg.payload/0.0356187291;\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":1611,"wires":[["bec29bf9.e531d8","31a0f83e.ed2b78"]]},{"id":"bea73c5f.4d0188","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1481,"y":1349,"wires":[]},{"id":"ebb05f46.b5c248","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1464,"y":1401,"wires":[]},{"id":"1cadd0dc.40f8e7","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1468,"y":1447,"wires":[]},{"id":"6b90fc62.918f4c","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1468,"y":1489,"wires":[]},{"id":"bb53a604.7300e8","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1469,"y":1528,"wires":[]},{"id":"bec29bf9.e531d8","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1005,"y":1650,"wires":[]},{"id":"31a0f83e.ed2b78","type":"function","z":"8bfaaedf.cc2148","name":"Create Volt & Current Object","func":"var payload = {};\npayload[\"volt\"] = parseFloat(msg.payload.toFixed(2));\npayload[\"current\"] = 0;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":1611,"wires":[["308fc5ac.3b73a2","77d78038.6d7ad"]]},{"id":"308fc5ac.3b73a2","type":"mqtt out","z":"8bfaaedf.cc2148","name":"power-out","topic":"/telemetry/battery/power","qos":"","retain":"","broker":"c665290f.ef78e","x":1246.5,"y":1656,"wires":[]},{"id":"a91bd949.4bcac8","type":"debug","z":"7e75c94b.171468","name":"","active":true,"console":"false","complete":"false","x":843,"y":82,"wires":[]},{"id":"77d78038.6d7ad","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1271,"y":1612,"wires":[]},{"id":"14c5e7f2.be6af8","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"charging","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300.5,"y":176,"wires":[["66ff53b1.94bdb4"]]},{"id":"aac9b102.d8dc18","type":"debug","z":"bdbe2d06.23081","name":"","active":false,"console":"false","complete":"false","x":681,"y":93,"wires":[]},{"id":"8caaa7c6.c15fb8","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1091,"y":1118,"wires":[]},{"id":"700e0bb6.b1800c","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":1060,"y":722,"wires":[]},{"id":"dd56e508.3c9dd","type":"delay","z":"8bfaaedf.cc2148","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":245,"y":878,"wires":[["df6618f7.73041"]]},{"id":"74f176ad.8aa598","type":"change","z":"8bfaaedf.cc2148","name":"Set True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":876.5,"y":480,"wires":[["8184f74c.cb25e"]]},{"id":"43c0855b.c613ac","type":"switch","z":"8bfaaedf.cc2148","name":"Check Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":692.5,"y":504,"wires":[["74f176ad.8aa598"],["bd8677d3.77129"]]},{"id":"bd8677d3.77129","type":"change","z":"8bfaaedf.cc2148","name":"Set False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":515,"wires":[["8184f74c.cb25e"]]},{"id":"b93e3be0.67a07","type":"debug","z":"8bfaaedf.cc2148","name":"","active":false,"console":"false","complete":"false","x":714,"y":450,"wires":[]},{"id":"8184f74c.cb25e","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/dcdc/status","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1118,"y":497,"wires":[]},{"id":"82c35c96.2a7c88","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:bat1\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":263,"wires":[["f643f021.736e7"]]},{"id":"f643f021.736e7","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":513,"y":262,"wires":[["22593d36.0b656a"]]},{"id":"22593d36.0b656a","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":5,"width":0,"height":0,"name":"","label":"Battery 1","format":"{{msg.payload}}","layout":"row-spread","x":726,"y":262,"wires":[]},{"id":"71fde6bb.5e6ed","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:bat2\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":329,"y":302,"wires":[["b5c5e1e1.828f48"]]},{"id":"b5c5e1e1.828f48","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":512,"y":301,"wires":[["5d25892d.fe4bc8"]]},{"id":"5d25892d.fe4bc8","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":6,"width":0,"height":0,"name":"","label":"Battery 2","format":"{{msg.payload}}","layout":"row-spread","x":725,"y":301,"wires":[]},{"id":"d052fbd7.a70288","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:bat3\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":329,"y":343,"wires":[["5bfea700.7a6cf8"]]},{"id":"5bfea700.7a6cf8","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":512,"y":342,"wires":[["8c2eb9ff.7e8da"]]},{"id":"8c2eb9ff.7e8da","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":7,"width":0,"height":0,"name":"","label":"Battery 3","format":"{{msg.payload}}","layout":"row-spread","x":725,"y":342,"wires":[]},{"id":"d1d91942.cfff8","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:bat5\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":322,"y":429,"wires":[["5d5a5a97.babca4"]]},{"id":"5d5a5a97.babca4","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":505,"y":428,"wires":[["e516d42c.ff5fd8"]]},{"id":"e516d42c.ff5fd8","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":9,"width":0,"height":0,"name":"","label":"Battery 5","format":"{{msg.payload}}","layout":"row-spread","x":718,"y":428,"wires":[]},{"id":"dcd24394.56b4a","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:bat4\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":326,"y":386,"wires":[["d18b06be.1b255"]]},{"id":"d18b06be.1b255","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":509,"y":385,"wires":[["a9f11950.b41d58"]]},{"id":"a9f11950.b41d58","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":8,"width":0,"height":0,"name":"","label":"Battery 4","format":"{{msg.payload}}","layout":"row-spread","x":722,"y":385,"wires":[]},{"id":"a717f50b.3953d8","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:bat6\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":322,"y":473,"wires":[["1139e811.364ec8"]]},{"id":"1139e811.364ec8","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":505,"y":472,"wires":[["ee149ed7.f31028"]]},{"id":"ee149ed7.f31028","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":10,"width":0,"height":0,"name":"","label":"Battery 6","format":"{{msg.payload}}","layout":"row-spread","x":718,"y":472,"wires":[]},{"id":"326a7406.d71d34","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:bat7\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":311,"y":510,"wires":[["f1ec64cb.ba775"]]},{"id":"f1ec64cb.ba775","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":504,"y":509,"wires":[["5838a174.797ef"]]},{"id":"5838a174.797ef","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":11,"width":0,"height":0,"name":"","label":"Battery 7","format":"{{msg.payload}}","layout":"row-spread","x":717,"y":511,"wires":[]},{"id":"c20ccf3b.a0e35","type":"change","z":"c74ca758.81a04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"pst:battery:bat8\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":549,"wires":[["af88d467.21b38"]]},{"id":"af88d467.21b38","type":"redis-command","z":"c74ca758.81a04","server":"b4450eab.de7d3","command":"get","name":"","topic":"","x":493,"y":548,"wires":[["4baf5c35.5d0ef4"]]},{"id":"4baf5c35.5d0ef4","type":"ui_text","z":"c74ca758.81a04","group":"ee729ad6.4dc11","order":12,"width":0,"height":0,"name":"","label":"Battery 8","format":"{{msg.payload}}","layout":"row-spread","x":717,"y":550,"wires":[]},{"id":"67117815.2742e","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/vin/b1","qos":"","retain":"","broker":"c665290f.ef78e","x":911,"y":1253,"wires":[]},{"id":"1f2c6a24.c7420e","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/vin/b2","qos":"","retain":"","broker":"c665290f.ef78e","x":908,"y":1295,"wires":[]},{"id":"eb7c1631.1795f8","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/vin/b3","qos":"","retain":"","broker":"c665290f.ef78e","x":910,"y":1338,"wires":[]},{"id":"5ed177d5.ec2518","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/vin/b4","qos":"","retain":"","broker":"c665290f.ef78e","x":907,"y":1383,"wires":[]},{"id":"66527845.db961","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/vin/b5","qos":"","retain":"","broker":"c665290f.ef78e","x":905,"y":1429,"wires":[]},{"id":"27ac672b.b43bc","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/vin/b6","qos":"","retain":"","broker":"c665290f.ef78e","x":905,"y":1472,"wires":[]},{"id":"68ca195e.5c55f","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/vin/b7","qos":"","retain":"","broker":"c665290f.ef78e","x":905,"y":1511,"wires":[]},{"id":"a84b5fd8.4ded68","type":"mqtt out","z":"8bfaaedf.cc2148","name":"","topic":"/telemetry/battery/vin/b8","qos":"","retain":"","broker":"c665290f.ef78e","x":903,"y":1551,"wires":[]},{"id":"511f6714.269d1","type":"change","z":"f9be8474.0450b8","name":"","rules":[{"t":"set","p":"dcdc","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":489,"y":414,"wires":[[]]},{"id":"6a3ecb66.f16c64","type":"mqtt in","z":"f9be8474.0450b8","name":"","topic":"/telemetry/dcdc/status","qos":"0","broker":"c665290f.ef78e","x":153,"y":408,"wires":[["3a4f20cf.d914f","511f6714.269d1"]]},{"id":"3a4f20cf.d914f","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"false","x":481,"y":458,"wires":[]},{"id":"9b8b2114.445e9","type":"comment","z":"f9be8474.0450b8","name":"Updates DC DC Status","info":"","x":142.5,"y":361,"wires":[]}]