flows_controller.json
[{"id":"c4074a96.5682f8","type":"tab","label":"Telemetry Dashboard"},{"id":"bdbe2d06.23081","type":"tab","label":"Receive Telemetry"},{"id":"1b6a5816.35494","type":"tab","label":"Location"},{"id":"29a47d57.7614c2","type":"tab","label":"Receive CANBUS"},{"id":"22c5a77c.734e2","type":"tab","label":"Controller Parsing"},{"id":"c87049d1.585918","type":"tab","label":"SOC"},{"id":"a97915af.6022b","type":"tab","label":"12V System"},{"id":"b16d71b8.a08c7","type":"tab","label":"RasPi Status"},{"id":"4bac3b.2ed1fbc4","type":"tab","label":"Inititalize Variables"},{"id":"51fa44b3.b8d92c","type":"tab","label":"Maintenance"},{"id":"a6371553.447a4","type":"tab","label":"Cloud Persistence New"},{"id":"c7024e5c.5884d8","type":"tab","label":"Scratchpad"},{"id":"f9be8474.0450b8","type":"tab","label":"Vehicle Status"},{"id":"a25b1320.b7bdf8","type":"subflow","name":"Increase Trip ID","info":"","in":[],"out":[]},{"id":"d9f9df45.67f6c8","type":"mqtt-broker","z":"c4074a96.5682f8","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3eb2df7f.78668","type":"ui_tab","z":"c4074a96.5682f8","name":"Home","icon":"driving","order":"1"},{"id":"e3321ae3.00d6","type":"ui_group","z":"c4074a96.5682f8","name":"Driving","tab":"3eb2df7f.78668","order":2,"disp":false,"width":"8"},{"id":"f2e58406.d9b8e","type":"ui_tab","z":"","name":"Location","icon":"dashboard","order":2},{"id":"71f5e34.da4f71c","type":"ui_group","z":"c4074a96.5682f8","name":"12v System","tab":"855e6c42.10af2","disp":true,"width":"6"},{"id":"45059c04.9425bc","type":"ui_tab","z":"c4074a96.5682f8","name":"Status","icon":"dashboard"},{"id":"855e6c42.10af2","type":"ui_tab","z":"c4074a96.5682f8","name":"Energy","icon":"dashboard"},{"id":"b4450eab.de7d3","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"c665290f.ef78e","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3651b7b8.0c5188","type":"wiotp-credentials","z":"","name":"C3","org":"z7bna0","devType":"ca","devId":"b827ebc2968"},{"id":"b05d6437.d21ff","type":"ui_group","z":"c4074a96.5682f8","name":"Default","tab":"f2e58406.d9b8e","disp":true,"width":"6"},{"id":"81cb881.1f8a578","type":"ui_tab","z":"c4074a96.5682f8","name":"Home","icon":"dashboard"},{"id":"ee729ad6.4dc11","type":"ui_group","z":"","name":"Map","tab":"f2e58406.d9b8e","disp":false,"width":"14"},{"id":"662ebc7.eabc344","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a260510d.17fc2","type":"ui_group","z":"","name":"Connection","tab":"45059c04.9425bc","disp":true,"width":"6"},{"id":"580a0ce7.98bba4","type":"ui_group","z":"","name":"Computers","tab":"45059c04.9425bc","disp":true,"width":"6"},{"id":"fa8b2b93.5fad38","type":"ui_group","z":"","name":"Energy","tab":"3eb2df7f.78668","order":3,"disp":true,"width":"4"},{"id":"449c440c.17b9ec","type":"ui_group","z":"","name":"Buttons","tab":"3eb2df7f.78668","order":1,"disp":false,"width":"1"},{"id":"e42d7550.524398","type":"ui_tab","z":"","name":"Numeric Test","icon":"dashboard","order":5},{"id":"4657c2d3.522e8c","type":"ui_group","z":"","name":"Main Pack","tab":"855e6c42.10af2","order":2,"disp":true,"width":"6"},{"id":"cf1e10b8.f94b5","type":"mqtt in","z":"c4074a96.5682f8","name":"","topic":"/disabled/telemetry/#","qos":"0","broker":"d9f9df45.67f6c8","x":119.5,"y":133.00001525878906,"wires":[[]]},{"id":"aa0a746e.8ca568","type":"ui_gauge","z":"c4074a96.5682f8","name":"","group":"e3321ae3.00d6","order":0,"width":"8","height":"4","gtype":"gage","title":"Engine Speed","label":"RPM","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"x":823.5,"y":78.00001525878906,"wires":[]},{"id":"f70083dd.24bf2","type":"ui_gauge","z":"c4074a96.5682f8","name":"SOC","group":"fa8b2b93.5fad38","order":2,"width":"2","height":"2","gtype":"wave","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#000000","#e6e600","#00b500"],"seg1":"","seg2":"","x":824.5,"y":115,"wires":[]},{"id":"37e5eb33.c4ae9c","type":"ui_gauge","z":"c4074a96.5682f8","name":"","group":"fa8b2b93.5fad38","order":1,"width":"4","height":"4","gtype":"gage","title":"Gauge","label":"AMP","format":"{{value}}","min":"-50","max":"650","colors":["#00b500","#e6e600","#ca3838"],"x":862.5,"y":157,"wires":[]},{"id":"d05fc45.0b22e38","type":"mqtt in","z":"bdbe2d06.23081","name":"Input","topic":"/telemetry/#","qos":"0","broker":"c665290f.ef78e","x":70.5,"y":134,"wires":[["1825d74b.938229","a006b963.cc8e3"]]},{"id":"48997968.a7ab68","type":"redis-command","z":"bdbe2d06.23081","server":"b4450eab.de7d3","command":"set","name":"Persistence","topic":"PERSISTED","x":899.1667022705078,"y":473.66662788391113,"wires":[[]]},{"id":"89e940ea.4e354","type":"redis-command","z":"bdbe2d06.23081","server":"b4450eab.de7d3","command":"set","name":"Transient","topic":"TRANSIENT","x":893.1666412353516,"y":414.333309173584,"wires":[[]]},{"id":"b11a345b.f29348","type":"debug","z":"1b6a5816.35494","name":"","active":false,"console":"false","complete":"payload","x":358.5,"y":34.5,"wires":[]},{"id":"fdb1e333.d28d58","type":"catch","z":"1b6a5816.35494","name":"","scope":null,"x":555.8333435058594,"y":21.583332061767578,"wires":[["849663a4.4ac688"]]},{"id":"57dc620a.243d4c","type":"debug","z":"1b6a5816.35494","name":"","active":false,"console":"false","complete":"true","x":855.8333129882812,"y":63.500003814697266,"wires":[]},{"id":"d2d360d4.8b76b8","type":"gpsd","z":"1b6a5816.35494","name":"Adafruit Ultimate GPS","hostname":"localhost","port":"2947","tpv":true,"sky":true,"info":true,"device":true,"gst":false,"att":false,"x":105,"y":33.25,"wires":[["b11a345b.f29348","db2bccfd.165d08"]]},{"id":"849663a4.4ac688","type":"change","z":"1b6a5816.35494","name":"IsCatch","rules":[{"t":"set","p":"isCatch","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":711.5,"y":46.41666793823242,"wires":[["57dc620a.243d4c"]]},{"id":"55fb9a87.b62f7c","type":"status","z":"1b6a5816.35494","name":"GPS Status","scope":["d2d360d4.8b76b8"],"x":94.16667175292969,"y":251.25001525878906,"wires":[["5c84fea3.02ff3","3a323578.dea902"]]},{"id":"5c84fea3.02ff3","type":"switch","z":"1b6a5816.35494","name":"GPS Fix Mode","property":"status.text","propertyType":"msg","rules":[{"t":"cont","v":"no fix","vt":"str"},{"t":"cont","v":"2D fix","vt":"str"},{"t":"cont","v":"3D fix","vt":"str"}],"checkall":"false","outputs":3,"x":455.83331298828125,"y":251.75001525878906,"wires":[["51b99cea.6622ac"],["a3175518.d077b"],["237bb3d3.039114"]]},{"id":"a3175518.d077b","type":"debug","z":"1b6a5816.35494","name":"2D fix","active":false,"console":"false","complete":"true","x":897.8333053588867,"y":306.1666650772095,"wires":[]},{"id":"51b99cea.6622ac","type":"debug","z":"1b6a5816.35494","name":"no fix","active":false,"console":"false","complete":"true","x":931.8333740234375,"y":247.5,"wires":[]},{"id":"237bb3d3.039114","type":"debug","z":"1b6a5816.35494","name":"3D fix","active":false,"console":"false","complete":"true","x":896.833324432373,"y":354.50001335144043,"wires":[]},{"id":"62594c16.d5377c","type":"switch","z":"1b6a5816.35494","name":"GPS Object Type","property":"payload.class","propertyType":"msg","rules":[{"t":"eq","v":"TPV","vt":"str"},{"t":"eq","v":"SKY","vt":"str"}],"checkall":"false","outputs":2,"x":519.3888854980469,"y":130.55557250976562,"wires":[["9be6a3.abe6996"],[]]},{"id":"f2307db4.25035","type":"function","z":"1b6a5816.35494","name":"TPV Object","func":"var location = {};\nlocation[\"lat\"] = msg.payload.lat;\nlocation[\"lon\"] = msg.payload.lon;\nlocation[\"alt\"] = msg.payload.alt;\nlocation[\"spd\"] = parseInt(msg.payload.speed);\nlocation[\"climb\"] = msg.payload.climb;\nlocation[\"course\"] = msg.payload.track;\nlocation[\"time\"] = msg.payload.time;\nlocation[\"fix\"] = msg.payload.mode;\nmsg.payload = location;\nreturn msg;","outputs":"1","noerr":0,"x":938.2777099609375,"y":167.55555725097656,"wires":[["aa2acb5c.85712","9d5a010c.858ce"]]},{"id":"aa2acb5c.85712","type":"mqtt out","z":"1b6a5816.35494","name":"MQTT Location","topic":"/telemetry/loc","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1209.611083984375,"y":167,"wires":[]},{"id":"3a323578.dea902","type":"mqtt out","z":"1b6a5816.35494","name":"MQTT GPS Fix","topic":"telemetry/gps/fix","qos":"0","retain":"false","broker":"c665290f.ef78e","x":457.16668701171875,"y":296,"wires":[]},{"id":"1825d74b.938229","type":"function","z":"bdbe2d06.23081","name":"Adjust Topic Name","func":"var message = msg.payload;\nvar topic = msg.topic;\nvar topic = topic.replace(/\\//g, \":\");\nvar topic = topic.replace(\"telemetry\", \"pst\");\nvar topic = topic.substring(1);\n\n//flow.set(\"value\", msg.payload);\n//flow.set(\"topic\", topic );\nmsg.payload = [topic];\nmsg.originalValue = message;\nmsg.adjustedTopic = topic;\n\nreturn msg;","outputs":"1","noerr":0,"x":273.1666717529297,"y":170.00000762939453,"wires":[["78e766fc.328ae8"]]},{"id":"9be6a3.abe6996","type":"switch","z":"1b6a5816.35494","name":"Check if Valid","property":"payload.mode","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"},{"t":"lte","v":"1","vt":"str"}],"checkall":"false","outputs":2,"x":730.388916015625,"y":172.88888549804688,"wires":[["f2307db4.25035"],["51b99cea.6622ac"]]},{"id":"1dbf97d6.21d4c8","type":"redis-command","z":"bdbe2d06.23081","server":"b4450eab.de7d3","command":"expire","name":"Set Expiration","topic":"","x":1151.8333778381348,"y":346.6666784286499,"wires":[[]]},{"id":"7066bb9f.d0007c","type":"function","z":"bdbe2d06.23081","name":"Set TTL Value into Key","func":"var topic = msg.payload[0];\nmsg.payload = [topic,2];\nreturn msg;","outputs":1,"noerr":0,"x":931.1666793823242,"y":346.6666679382324,"wires":[["1dbf97d6.21d4c8"]]},{"id":"da9fb696.2f1ce8","type":"function","z":"bdbe2d06.23081","name":"Set For Transient","func":"var topic = msg.payload[0];\nvar topic = topic.replace(\"pst\",\"tst\")\nmsg.payload = [topic,msg.payload[1]];\nreturn msg;","outputs":1,"noerr":0,"x":673.5,"y":347,"wires":[["89e940ea.4e354","7066bb9f.d0007c"]]},{"id":"f6f76d1e.a396f8","type":"debug","z":"c4074a96.5682f8","name":"","active":false,"console":"false","complete":"true","x":293.5,"y":315.00001525878906,"wires":[]},{"id":"c95a0c45.7b03a8","type":"switch","z":"c4074a96.5682f8","name":"Check Message for Home","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/telemetry/enginerpm","vt":"str"},{"t":"eq","v":"/telemetry/socmain","vt":"str"},{"t":"eq","v":"/telemetry/cntamp","vt":"str"},{"t":"eq","v":"/telemetry/batvolt","vt":"str"},{"t":"eq","v":"/telemetry/batvolt-norm","vt":"str"},{"t":"eq","v":"/telemetry/loc","vt":"str"},{"t":"eq","v":"/telemetry/12v","vt":"str"},{"t":"eq","v":"/telemetry/car/ignition","vt":"str"},{"t":"eq","v":"/telemetry/cnttemp","vt":"str"}],"checkall":"true","outputs":9,"x":480.0555725097656,"y":252.00003051757812,"wires":[["aa0a746e.8ca568"],["f70083dd.24bf2"],["37e5eb33.c4ae9c","8dbc88cc.d8b2c8","8c5c1c4.428f0e","57a8adb3.f4e23c"],["e2896a87.1aae8"],["b5afc8be.8bf7f8","cfa53130.8056c"],["866fa274.fb829"],["397b809b.4a736"],["bcad0e29.993568"],["8a4ca6ea.7ed8a"]]},{"id":"118327e.9045858","type":"mqtt in","z":"29a47d57.7614c2","name":"","topic":"/CANBUS/#","qos":"2","broker":"c665290f.ef78e","x":89.5,"y":245,"wires":[["fde69f83.d0bf2","ca8ecb65.283398"]]},{"id":"880129ca.3fb05","type":"switch","z":"29a47d57.7614c2","name":"Route the Incoming CANBUS ID to the Intepreter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/CANBUS/00000601","vt":"str"},{"t":"eq","v":"/CANBUS/00000602","vt":"str"},{"t":"eq","v":"/CANBUS/00000100","vt":"str"}],"checkall":"true","outputs":3,"x":567.1666564941406,"y":247.33333778381348,"wires":[["9810b685.5d645"],["380a53ef.36baa4"],["fcbb1019.d6608"]]},{"id":"9810b685.5d645","type":"link out","z":"29a47d57.7614c2","name":"ControllerTOCanbus","links":["ff8fa294.842c8"],"x":870.5000114440918,"y":152.33333492279053,"wires":[]},{"id":"e64e3bd5.535fb8","type":"function","z":"22c5a77c.734e2","name":"Engine RPM","func":"var byteHigh    = parseInt(msg.payload.substring(0,2),16);\nvar byteLow     = parseInt(msg.payload.substring(2,4),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh*256)+byteLow;\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":93,"wires":[["34adab5a.f8fc2c"]]},{"id":"8f2df7bc.1ecb28","type":"function","z":"22c5a77c.734e2","name":"Engine Temperature","func":"var byteHigh    = parseInt(msg.payload.substring(4,6),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":357.5,"y":145,"wires":[["d4eeccf1.52e988"]]},{"id":"3dde1d38.8eb0aa","type":"function","z":"22c5a77c.734e2","name":"Controller Temp","func":"var byteHigh    = parseInt(msg.payload.substring(6,8),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":342.5,"y":196,"wires":[["cca3deb.4bd7ba"]]},{"id":"394c27a.82604d8","type":"function","z":"22c5a77c.734e2","name":"Current","func":"msg.payload = msg.payload[\"current\"];\nreturn msg;","outputs":1,"noerr":0,"x":439.5,"y":239,"wires":[["da90a41e.ac49a8"]]},{"id":"48c34d5f.9873c4","type":"function","z":"22c5a77c.734e2","name":"Voltage","func":"msg.payload = msg.payload[\"voltage\"];\nreturn msg;","outputs":1,"noerr":0,"x":441.5,"y":311,"wires":[["e38e4674.209738"]]},{"id":"7abe10d8.a97238","type":"function","z":"22c5a77c.734e2","name":"Stator Frequency","func":"var byteHigh    = parseInt(msg.payload.substring(0,2),16);\nvar byteLow     = parseInt(msg.payload.substring(2,4),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh*256)+byteLow;\nreturn msg;","outputs":1,"noerr":0,"x":336.5,"y":374,"wires":[["b7a5ab82.c8201"]]},{"id":"771849c6.e5bfb","type":"function","z":"22c5a77c.734e2","name":"Controller Fault - Primary","func":"var byteHigh    = parseInt(msg.payload.substring(4,6),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":426,"wires":[["ad4f4e63.af9b98"]]},{"id":"bb62e6c3.49398","type":"function","z":"22c5a77c.734e2","name":"Controller Fault - Secondary","func":"var byteHigh    = parseInt(msg.payload.substring(6,8),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":477,"wires":[["8aa46ad4.d0562"]]},{"id":"ad40cb01.4d4ea","type":"function","z":"22c5a77c.734e2","name":"Throttle","func":"var byteHigh    = parseInt(msg.payload.substring(8,10),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":304.5,"y":529,"wires":[["ae1c0901.c0a2a"]]},{"id":"6907d830.90bca8","type":"function","z":"22c5a77c.734e2","name":"Brake","func":"var byteHigh    = parseInt(msg.payload.substring(10,12),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":295.5,"y":582,"wires":[["a7b510c6.f1264"]]},{"id":"54532b38.e869fc","type":"function","z":"22c5a77c.734e2","name":"System Info","func":"var byteHigh    = parseInt(msg.payload.substring(12,14),16);\n//var byteLow     = parseInt(msg.payload.substring(6,8),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nmsg.payload = (byteHigh);\nreturn msg;","outputs":1,"noerr":0,"x":315.5,"y":631,"wires":[["79f048d5.80c408"]]},{"id":"ff8fa294.842c8","type":"link in","z":"22c5a77c.734e2","name":"Controller - 1","links":["9810b685.5d645"],"x":135.5,"y":131,"wires":[["e64e3bd5.535fb8","8f2df7bc.1ecb28","3dde1d38.8eb0aa","f8db13d3.04cd88","3ac8fef9.68598a"]]},{"id":"7a7d20df.d63a8","type":"link in","z":"22c5a77c.734e2","name":"Controller - 2","links":["380a53ef.36baa4"],"x":111.5,"y":410,"wires":[["7abe10d8.a97238","771849c6.e5bfb","bb62e6c3.49398","ad40cb01.4d4ea","6907d830.90bca8","54532b38.e869fc","f8db13d3.04cd88"]]},{"id":"380a53ef.36baa4","type":"link out","z":"29a47d57.7614c2","name":"Controller - 2","links":["7a7d20df.d63a8"],"x":869.5000114440918,"y":249.66666793823242,"wires":[]},{"id":"34adab5a.f8fc2c","type":"mqtt out","z":"22c5a77c.734e2","name":"enginerpm-out","topic":"/telemetry/enginerpm","qos":"","retain":"","broker":"c665290f.ef78e","x":656.5,"y":54,"wires":[]},{"id":"d4eeccf1.52e988","type":"mqtt out","z":"22c5a77c.734e2","name":"enginetemp-out","topic":"/telemetry/enginetemp","qos":"","retain":"","broker":"c665290f.ef78e","x":654,"y":107,"wires":[]},{"id":"cca3deb.4bd7ba","type":"mqtt out","z":"22c5a77c.734e2","name":"cnttemp-out","topic":"/telemetry/cnttemp","qos":"","retain":"","broker":"c665290f.ef78e","x":644,"y":169,"wires":[]},{"id":"da90a41e.ac49a8","type":"mqtt out","z":"22c5a77c.734e2","name":"cntamp-out","topic":"/telemetry/cntamp","qos":"","retain":"","broker":"c665290f.ef78e","x":644,"y":222,"wires":[]},{"id":"e38e4674.209738","type":"mqtt out","z":"22c5a77c.734e2","name":"batvolt-out","topic":"/telemetry/batvolt","qos":"","retain":"","broker":"c665290f.ef78e","x":645,"y":332,"wires":[]},{"id":"c57ea53b.9c81b8","type":"redis-command","z":"c87049d1.585918","server":"b4450eab.de7d3","command":"get","name":"Get Voltage","topic":"tst:batvolt","x":261.50000762939453,"y":491.66666984558105,"wires":[["b451d212.aae7b8","40b29461.d624bc","2277dfa3.ec9dc","6c7e0435.e85624"]]},{"id":"a8c512e3.b58c88","type":"function","z":"c87049d1.585918","name":"Volt Processing","func":"//var flowContext = this.context().flow;\n//var count = flowContext.get('count')||0;\nvar currVoltage = msg.payload;\n\nvar minVoltage = 90;\nvar maxVoltage = 111;\n\nvar soc = (((currVoltage - minVoltage)*100)/(maxVoltage-minVoltage)).toFixed(2);\n\nmsg.payload=soc;\nreturn msg;","outputs":1,"noerr":0,"x":686.5,"y":310,"wires":[[]]},{"id":"279998c3.d349f","type":"inject","z":"c87049d1.585918","name":"Voltage","topic":"pst:batvolt","payload":"[\"pst:batvolt\"]","payloadType":"json","repeat":"1","crontab":"","once":false,"x":91.16667175292969,"y":526.6666803359985,"wires":[["c57ea53b.9c81b8","4c2c39e2.65bcf"]]},{"id":"f8db13d3.04cd88","type":"debug","z":"22c5a77c.734e2","name":"","active":false,"console":"false","complete":"false","x":88.5,"y":306,"wires":[]},{"id":"73a41840.582918","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":699.5,"y":709,"wires":[]},{"id":"90ee9487.c640f","type":"mqtt out","z":"c87049d1.585918","name":"socmain-out","topic":"/telemetry/socmain","qos":"","retain":"","broker":"c665290f.ef78e","x":1255.5,"y":193.33334350585938,"wires":[]},{"id":"b7a5ab82.c8201","type":"mqtt out","z":"22c5a77c.734e2","name":"cntfreq-out","topic":"/telemetry/cntfreq","qos":"","retain":"","broker":"c665290f.ef78e","x":646.5,"y":382,"wires":[]},{"id":"ad4f4e63.af9b98","type":"mqtt out","z":"22c5a77c.734e2","name":"cntfault0-out","topic":"/telemetry/cntfault0","qos":"","retain":"","broker":"c665290f.ef78e","x":645,"y":424,"wires":[]},{"id":"8aa46ad4.d0562","type":"mqtt out","z":"22c5a77c.734e2","name":"cntfault1-out","topic":"/telemetry/cntfault1","qos":"","retain":"","broker":"c665290f.ef78e","x":642,"y":471,"wires":[]},{"id":"ae1c0901.c0a2a","type":"mqtt out","z":"22c5a77c.734e2","name":"cnttrt-out","topic":"/telemetry/cnttrt","qos":"","retain":"","broker":"c665290f.ef78e","x":635,"y":526,"wires":[]},{"id":"a7b510c6.f1264","type":"mqtt out","z":"22c5a77c.734e2","name":"cntbrk-out","topic":"/telemetry/cntbrk","qos":"","retain":"","broker":"c665290f.ef78e","x":640,"y":574,"wires":[]},{"id":"79f048d5.80c408","type":"mqtt out","z":"22c5a77c.734e2","name":"cntsys-out","topic":"/telemetry/cntsys","qos":"","retain":"","broker":"c665290f.ef78e","x":639,"y":621,"wires":[]},{"id":"78e766fc.328ae8","type":"redis-command","z":"bdbe2d06.23081","server":"b4450eab.de7d3","command":"get","name":"Check Value","topic":"","x":470.8333206176758,"y":169.6666774749756,"wires":[["a7568b78.0a6358"]]},{"id":"a7568b78.0a6358","type":"switch","z":"bdbe2d06.23081","name":"Check Value Changed","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"neq","v":"originalValue","vt":"msg"},{"t":"eq","v":"originalValue","vt":"flow"}],"checkall":"true","outputs":3,"x":707.5000152587891,"y":169.66667079925537,"wires":[["45d16293.0b8514"],["45d16293.0b8514"],[]]},{"id":"2277dfa3.ec9dc","type":"aggregator","z":"c87049d1.585918","name":"MaxVoltage","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"max","x":492.16666412353516,"y":396.33332109451294,"wires":[[]]},{"id":"45d16293.0b8514","type":"function","z":"bdbe2d06.23081","name":"Adjust Message for Redis","func":"//var topic = msg.topic;\n//var topic = topic.replace(/\\//g, \":\");\n//var topic = topic.replace(\"telemetry\", \"pst\");\n//var topic = topic.substring(1);\n\n\n//var topic = flow.get(\"topic\");\n//var value = msg.payload;\n//var topic = topic.replace(\"pst\",\"tst\")\nmsg.payload = [msg.adjustedTopic,msg.originalValue];\nreturn msg;","outputs":1,"noerr":0,"x":321.4999771118164,"y":346.99999618530273,"wires":[["48997968.a7ab68","da9fb696.2f1ce8","dc22ad9c.e1e7c8"]]},{"id":"40b29461.d624bc","type":"aggregator","z":"c87049d1.585918","name":"MinVoltage","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"min","x":495.66668701171875,"y":441.33333015441895,"wires":[[]]},{"id":"b451d212.aae7b8","type":"aggregator","z":"c87049d1.585918","name":"AverageVoltage","topic":"","intervalCount":"2","intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":506.33331298828125,"y":486.99997901916504,"wires":[[]]},{"id":"ed419901.dfad3","type":"link in","z":"a97915af.6022b","name":"BatteryCanBus","links":["fcbb1019.d6608"],"x":61.05555438995361,"y":89.88888835906982,"wires":[["9ad9685f.1e2ef8"]]},{"id":"fcbb1019.d6608","type":"link out","z":"29a47d57.7614c2","name":"","links":["ed419901.dfad3"],"x":879.8333263397217,"y":327.33333587646484,"wires":[]},{"id":"9ad9685f.1e2ef8","type":"function","z":"a97915af.6022b","name":"Parsing","func":"//var globalContext = this.global;\n\nvar lowVoltage = {}\nvar current = parseInt(msg.payload.substring(0,2),16)/100;\nvar voltage = parseInt(msg.payload.substring(2,4),16)/10;\nvar ignition;\n\n//if ( voltage  > 13 ) { \n//    ignition = true;\n//    } else { \n//    ignition = false;\n//}\n\nlowVoltage[\"volt\"] = voltage;\nlowVoltage[\"current\"] = current;\n//lowVoltage[\"ignition\"] = ignition;\n\nmsg.payload  = lowVoltage;\n\n//global.set(\"ignition\",ignition);\n\nreturn  msg;","outputs":"1","noerr":0,"x":183.38888549804688,"y":97.27778053283691,"wires":[[]]},{"id":"dc22ad9c.e1e7c8","type":"debug","z":"bdbe2d06.23081","name":"","active":false,"console":"false","complete":"false","x":896.8332977294922,"y":540.3333358764648,"wires":[]},{"id":"6c7e0435.e85624","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":428.5,"y":714,"wires":[]},{"id":"68a9568c.4a2078","type":"inject","z":"b16d71b8.a08c7","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":104,"y":117,"wires":[["98d63672.eb334","765cb92b.6f0cb","20941d7.7a67fe2","41d40c57.73bf2c"]]},{"id":"98d63672.eb334","type":"exec","z":"b16d71b8.a08c7","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":330,"y":206.5,"wires":[["16d93723.153351"],[],[]]},{"id":"16d93723.153351","type":"function","z":"b16d71b8.a08c7","name":"msg.payload","func":"msg.payload = {\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")};\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":201,"wires":[["fcf9273e.043bf8"]]},{"id":"fcf9273e.043bf8","type":"mqtt out","z":"b16d71b8.a08c7","name":"sys1cputemp-out","topic":"/telemetry/sys/1/temp","qos":"0","retain":"false","broker":"c665290f.ef78e","x":753.5,"y":200,"wires":[]},{"id":"a006b963.cc8e3","type":"debug","z":"bdbe2d06.23081","name":"","active":false,"console":"false","complete":"false","x":255,"y":117.77777777777777,"wires":[]},{"id":"9d5a010c.858ce","type":"debug","z":"1b6a5816.35494","name":"","active":false,"console":"false","complete":"false","x":1193.6666259765625,"y":109.55557250976562,"wires":[]},{"id":"8ecdc4d6.179a38","type":"function","z":"c4074a96.5682f8","name":"","func":"var location = {};\nlocation[\"name\"] = \"eCar\";\nlocation[\"lon\"] = msg.payload.lon;\nlocation[\"lat\"] = msg.payload.lat;\nlocation[\"speed\"] = msg.payload.spd;\nlocation[\"bearing\"] = msg.payload.course;\nlocation[\"icon\"] = \"car\";\nmsg.payload = location;\n\n\n\nvar command = {};\ncommand[\"lon\"] = msg.payload.lon;\ncommand[\"lat\"] = msg.payload.lat;\ncommand[\"zoom\"] = 18;\n\nmsg.payload.command = command;\n\n//document.body.innerHTML=document.getElementById('printableArea').innerHTML\n\n\nreturn msg;","outputs":1,"noerr":0,"x":972.888916015625,"y":298.888916015625,"wires":[[]]},{"id":"866fa274.fb829","type":"json","z":"c4074a96.5682f8","name":"","x":825.1111450195312,"y":297.888916015625,"wires":[["8ecdc4d6.179a38"]]},{"id":"6f354e90.9d5f5","type":"mqtt out","z":"a97915af.6022b","name":"","topic":"/telemetry/battery/12v/v/","qos":"","retain":"","broker":"c665290f.ef78e","x":651.8056030273438,"y":255.9166717529297,"wires":[]},{"id":"fe1ee031.0baf68","type":"ui_switch","z":"c4074a96.5682f8","name":"","label":"Ignição","group":"e3321ae3.00d6","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":980.7777099609375,"y":502,"wires":[[]]},{"id":"bcad0e29.993568","type":"json","z":"c4074a96.5682f8","name":"","x":832.6666870117188,"y":489.77777099609375,"wires":[["fe1ee031.0baf68","6e3c570.26b2d28"]]},{"id":"765cb92b.6f0cb","type":"Loadavg","z":"b16d71b8.a08c7","name":"","x":326.1111111111111,"y":321.1111111111111,"wires":[["36ae7b7f.e29f1c","63400a54.5c987c"]]},{"id":"20941d7.7a67fe2","type":"Memory","z":"b16d71b8.a08c7","name":"","x":317.22222222222223,"y":374.44444444444446,"wires":[["36ae7b7f.e29f1c","2d30b6a8.4141b2"]]},{"id":"36ae7b7f.e29f1c","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":1001.2222290039062,"y":261.888916015625,"wires":[]},{"id":"41d40c57.73bf2c","type":"Drives","z":"b16d71b8.a08c7","name":"","x":313.88888888888886,"y":438.88888888888886,"wires":[["36ae7b7f.e29f1c"]]},{"id":"8c3a4e7d.7219","type":"NetworkIntf","z":"b16d71b8.a08c7","name":"Network Interfaces","x":126.5,"y":551,"wires":[["7ebbbd20.c09c14"]]},{"id":"f63730b3.863e7","type":"inject","z":"b16d71b8.a08c7","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":100.5,"y":479,"wires":[["8c3a4e7d.7219"]]},{"id":"fc67cb9f.f86c68","type":"switch","z":"b16d71b8.a08c7","name":"Check If Wifi is Up","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":460.5,"y":550,"wires":[["72f00a30.e535f4"],["55428546.568eec"]]},{"id":"7ebbbd20.c09c14","type":"function","z":"b16d71b8.a08c7","name":"","func":"msg.payload = msg.payload[\"networkInterfaces\"][\"wlan0\"]\nreturn msg;","outputs":1,"noerr":0,"x":292.5,"y":551,"wires":[["fc67cb9f.f86c68"]]},{"id":"72f00a30.e535f4","type":"change","z":"b16d71b8.a08c7","name":"Set WLAN Connected to True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":713.5,"y":513,"wires":[["96c4ba79.3f2ea8","675d6d36.1e51e4"]]},{"id":"55428546.568eec","type":"change","z":"b16d71b8.a08c7","name":"Set WLAN Connected to False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":582,"wires":[["96c4ba79.3f2ea8","b382be8a.bce8f"]]},{"id":"96c4ba79.3f2ea8","type":"mqtt out","z":"b16d71b8.a08c7","name":"telemetry:sys:wlan:out","topic":"/telemetry/sys/wlan","qos":"","retain":"","broker":"c665290f.ef78e","x":998.5,"y":532,"wires":[]},{"id":"5aee4c2c.d3d7f4","type":"inject","z":"c4074a96.5682f8","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"x":318.50001525878906,"y":1099.0000097751617,"wires":[["d4d44f00.892e2"]]},{"id":"b161b01b.e31a7","type":"ui_template","z":"c4074a96.5682f8","group":"ee729ad6.4dc11","name":"Map","order":0,"width":"14","height":"6","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":737.5000152587891,"y":1099.0000097751617,"wires":[[]]},{"id":"d4d44f00.892e2","type":"template","z":"c4074a96.5682f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=300px width=740px ></iframe>","x":529.5000152587891,"y":1096.0000097751617,"wires":[["b161b01b.e31a7"]]},{"id":"6963dc82.a895f4","type":"comment","z":"c4074a96.5682f8","name":"Embedd Map into DashBoard","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":343.50001525878906,"y":1042.0000097751617,"wires":[]},{"id":"7749c5dc.96d47c","type":"inject","z":"c4074a96.5682f8","name":"Dusk Check","topic":"Check Time","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":332.37501525878906,"y":1168.7500212192535,"wires":[["492ed735.822b58"]]},{"id":"3ef73a6c.f37696","type":"change","z":"c4074a96.5682f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":876.1250305175781,"y":1161.250036239624,"wires":[[]]},{"id":"e3fdafd6.4572f","type":"switch","z":"c4074a96.5682f8","name":"Dusk?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"19","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":693.6250228881836,"y":1168.7500212192535,"wires":[["3ef73a6c.f37696"],[]]},{"id":"492ed735.822b58","type":"function","z":"c4074a96.5682f8","name":"Extract Time","func":"var d = new Date(msg.payload);\nmsg.payload = d.getHours();\nreturn msg;","outputs":1,"noerr":0,"x":523.6250152587891,"y":1168.7500097751617,"wires":[["e3fdafd6.4572f"]]},{"id":"cdc1195.ce4b2e8","type":"switch","z":"c4074a96.5682f8","name":"Check Message for Status","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/telemetry/sys/wlan","vt":"str"},{"t":"eq","v":"/telemetry/sys/1/temp","vt":"str"},{"t":"eq","v":"/telemetry/cntamp","vt":"str"},{"t":"eq","v":"/telemetry/batvolt","vt":"str"},{"t":"eq","v":"/telemetry/loc","vt":"str"},{"t":"eq","v":"/telemetry/12v","vt":"str"},{"t":"eq","v":"/telemetry/sys/ignition","vt":"str"}],"checkall":"true","outputs":7,"x":556.2500305175781,"y":795.0000171661377,"wires":[["f898c93d.fe8b78"],["dd40ff1a.3deaa"],[],[],[],[],[]]},{"id":"288c04bc.cce0bc","type":"ui_switch","z":"c4074a96.5682f8","name":"","label":"Wireless LAN","group":"a260510d.17fc2","order":0,"width":"4","height":"1","passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":938.1250267028809,"y":730.0000171661377,"wires":[[]]},{"id":"a48a0ca8.da572","type":"ui_gauge","z":"c4074a96.5682f8","name":"","group":"580a0ce7.98bba4","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperarture","label":"CPU Temp","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"x":1115.6250305175781,"y":771.2500171661377,"wires":[]},{"id":"411282c0.67962c","type":"ui_button","z":"c4074a96.5682f8","name":"","group":"449c440c.17b9ec","order":0,"width":"1","height":"1","label":"Energy","color":"","icon":"","payload":"1","payloadType":"str","topic":"","x":558.1250152587891,"y":582.5000095367432,"wires":[["3a701095.6cbb"]]},{"id":"3a701095.6cbb","type":"ui_ui_control","z":"c4074a96.5682f8","name":"ui control","x":651.8750152587891,"y":650.0000095367432,"wires":[[]]},{"id":"9c9275d4.c976f8","type":"inject","z":"c4074a96.5682f8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":329.37500762939453,"y":491.25001525878906,"wires":[["3a701095.6cbb"]]},{"id":"27d9e585.9a964a","type":"inject","z":"c4074a96.5682f8","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":331.87500762939453,"y":536.2500171661377,"wires":[["3a701095.6cbb"]]},{"id":"3762c76c.8344b8","type":"inject","z":"c4074a96.5682f8","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":343.75000762939453,"y":582.5000171661377,"wires":[["3a701095.6cbb"]]},{"id":"675d6d36.1e51e4","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":958.1250152587891,"y":482.50000953674316,"wires":[]},{"id":"b382be8a.bce8f","type":"debug","z":"b16d71b8.a08c7","name":"","active":false,"console":"false","complete":"false","x":965,"y":598.75,"wires":[]},{"id":"f898c93d.fe8b78","type":"json","z":"c4074a96.5682f8","name":"","x":799.3750228881836,"y":730.0000171661377,"wires":[["288c04bc.cce0bc"]]},{"id":"d7c23478.8c51c8","type":"change","z":"c4074a96.5682f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"temp\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":934.3750305175781,"y":770.0000171661377,"wires":[["a48a0ca8.da572","bd6ab98a.67cdf8"]]},{"id":"bd6ab98a.67cdf8","type":"debug","z":"c4074a96.5682f8","name":"","active":false,"console":"false","complete":"false","x":953.3750152587891,"y":905.5000095367432,"wires":[]},{"id":"dd40ff1a.3deaa","type":"json","z":"c4074a96.5682f8","name":"","x":776.8750228881836,"y":770.0000190734863,"wires":[["bd6ab98a.67cdf8","d7c23478.8c51c8"]]},{"id":"b5f707e7.288f08","type":"inject","z":"4bac3b.2ed1fbc4","name":"","topic":"System Initialization","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":113.5,"y":69,"wires":[["f5ed462.2a4f1b8"]]},{"id":"f5ed462.2a4f1b8","type":"change","z":"4bac3b.2ed1fbc4","name":"Initialize Global Variables","rules":[{"t":"set","p":"ignition","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":295.5,"y":196,"wires":[[]]},{"id":"ee9eac06.514aa","type":"mqtt out","z":"51fa44b3.b8d92c","name":"","topic":"/telemetry/12v/","qos":"","retain":"","broker":"c665290f.ef78e","x":457.5,"y":214,"wires":[]},{"id":"af605e3e.2eb85","type":"inject","z":"51fa44b3.b8d92c","name":"","topic":"volt","payload":"{\"volt\": 14}","payloadType":"json","repeat":"","crontab":"","once":false,"x":292.5,"y":166,"wires":[["ee9eac06.514aa"]]},{"id":"63bc7a64.2ddf64","type":"inject","z":"51fa44b3.b8d92c","name":"","topic":"volt","payload":"{\"volt\": 11}","payloadType":"json","repeat":"","crontab":"","once":false,"x":280,"y":283,"wires":[["ee9eac06.514aa"]]},{"id":"67414a0d.0074c4","type":"redis-command","z":"51fa44b3.b8d92c","server":"b4450eab.de7d3","command":"flushall","name":"","topic":"","x":324,"y":523,"wires":[["c804a162.fcf68"]]},{"id":"c804a162.fcf68","type":"debug","z":"51fa44b3.b8d92c","name":"","active":true,"console":"false","complete":"false","x":517,"y":540,"wires":[]},{"id":"f2a4351d.1452d8","type":"inject","z":"51fa44b3.b8d92c","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":183,"y":463,"wires":[["67414a0d.0074c4"]]},{"id":"18012239.abb0ae","type":"redis-command","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"keys","name":"Get Keys To Persist","topic":"KEY","x":440,"y":203.66668701171875,"wires":[["80313aed.f45aa","21eb215d.4a2d66"]]},{"id":"2c41b22a.49454e","type":"inject","z":"a6371553.447a4","name":"Inject Transient","topic":"Test","payload":"[\"tst*\"]","payloadType":"json","repeat":"1","crontab":"","once":true,"x":92,"y":128,"wires":[["d8eadef1.3b1df"]]},{"id":"5d13f9cb.c6fe8","type":"redis-command","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"get","name":"Get Data","topic":"","x":1210.8333129882812,"y":197.66668701171875,"wires":[["3157c8dc.d4a5e","f5d670ee.45f2e"]]},{"id":"fb901f6.4692ce","type":"function","z":"a6371553.447a4","name":"Set Key for GET","func":"msg.inputValue=msg.payload;\n//msg.parts.push(msg.payload);\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":982.8333129882812,"y":200.33334350585938,"wires":[["5d13f9cb.c6fe8"]]},{"id":"632599d3.ccc67","type":"function","z":"a6371553.447a4","name":"Payload Processing & Filter","func":"\nvar foo = {  } ;\nvar key = msg.inputValue.substring(msg.inputValue.indexOf(\":\")+1);\nvar tick = flow.get(\"tick\");\nvar lastLocUpdate = flow.get(\"lastLocUpdate\"); \nvar expire = (tick - lastLocUpdate);\n\n\nvar isObject = msg.payload.typeOf == \"object\";\nmsg.isValid = true;\n\n\nif( key == \"loc\" ) {\n    if (expire < 30000) {\n        msg.isValid = false } \n    else {\n       foo[key] = JSON.parse(msg.payload);\n       flow.set(\"lastLocUpdate\",tick)}\n       }\nelse {\n    foo[key] = JSON.parse(msg.payload);\n}\n    \n//var foo = { \"d\":{ key: msg.payload} } ;\n//foo[\"d\"][key] = msg.payload;\n/*if (isObject) { \n    foo[key] = msg.payload;\n    if( key == \"loc\" ) {\n        lastLocUpdate = 2005;\n        if (expire < 30000) {\n            msg.isValid = false } \n        else {\n            lastLocUpdate = 1976;\n            flow.set(\"lastLocUpdate\",tick)} }\n            else {\n                lastLocUpdate = 1977;\n            }\n    \n}\nelse {*/\n  //  foo[key] = JSON.parse(msg.payload);\n            \n    \n\n\nmsg.currentKey = key;    \nmsg.payload = foo; \n//msg.expire = expire;\n//msg.expire2 = isObject;\n//msg.t1 = tick;\n//msg.t2 = lastLocUpdate;\n\nreturn msg;","outputs":"1","noerr":0,"x":644.8333740234375,"y":310,"wires":[["77c98633.5f05f","dc71e915.dd82f"]]},{"id":"4d9f7bc3.352cdc","type":"wiotp out","z":"a6371553.447a4","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"3651b7b8.0c5188","deviceType":"","deviceId":"","event":"C3-Bluemix","format":"json","name":"","x":1080.5,"y":785,"wires":[]},{"id":"dc71e915.dd82f","type":"join","z":"a6371553.447a4","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":997.5,"y":311,"wires":[["e7d65ca6.58f5c8","d4e83bce.4d4f8"]]},{"id":"80313aed.f45aa","type":"split","z":"a6371553.447a4","name":"","splt":"\\n","x":640.1666259765625,"y":202.00001525878906,"wires":[["a0b7cefc.7e5988"]]},{"id":"e7d65ca6.58f5c8","type":"function","z":"a6371553.447a4","name":"Adjust Array of Objects for Bluemix ","func":"var epoch = flow.get(\"tick\");\nvar nullFound = false;\n//var foo = { } ;\n//var key = msg.parts[0];\n//var key = msg.inputValue.substring(msg.inputValue.indexOf(\":\")+1);\n\n\n//msg.payload= JSON.parse(msg.payload);\n\n//var foo = { \"d\":{ key: msg.payload} };\nvar foo = { \"d\":{ } };\nfoo.d[\"tick\"] = epoch;\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n    //alert(myStringArray[i]);\n    //var payload = msg.payload[i];\n    //foo.d[i] = payload; \n    //if ( typeof payload == \"undefined\" || payload === null ) { \n        //foo.d[i] = \"NULO\"; }\n    //else { \n        //foo.d[i] = \"NAO NULO\";\n        var key = Object.keys(msg.payload[i])[0];\n        if ( typeof key !== \"undefined\" ) { \n            foo.d[key] = msg.payload[i][key]; //\"NAO NULO\";\n        }\n        \n        //foo.d[i] = key;\n       // foo.d[key] = msg.payload[key];\n        //foo.d[key] = \"NAO NULO\";//msg.payload[key];\n        //if (key !== null || msg.payload[i][key] !== null ) {\n        //    foo.d[key] = msg.payload[key]}\n        \n   //}\n}\n//msg.foo = foo;\nmsg.payload = foo; \nmsg.nullFound = nullFound;\nreturn msg;\n","outputs":1,"noerr":0,"x":869.1666870117188,"y":431.3333435058594,"wires":[["ad904448.9a01","747aede3.8c97ec"]]},{"id":"d8eadef1.3b1df","type":"switch","z":"a6371553.447a4","name":"Check Ignition","property":"ignition","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":283.9722595214844,"y":119.36114501953125,"wires":[["18012239.abb0ae","3c1ffb3d.8e8c04"],[]]},{"id":"ad904448.9a01","type":"debug","z":"a6371553.447a4","name":"To Bluemix Message","active":true,"console":"false","complete":"payload","x":1169.3331298828125,"y":467.0000305175781,"wires":[]},{"id":"ebcd540a.0758f","type":"redis-command","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"rpop","name":"Get Next Value","topic":"queue","x":619.1666259765625,"y":807.3333129882812,"wires":[["b81b52eb.079598"]]},{"id":"f45eb50c.0678d8","type":"inject","z":"a6371553.447a4","name":"","topic":"","payload":"[\"queue\"]","payloadType":"json","repeat":"1","crontab":"","once":true,"x":120.16666412353516,"y":792.999997138977,"wires":[["c3ddd9f.3b51e28"]]},{"id":"5927b2b7.b45dd4","type":"debug","z":"a6371553.447a4","name":"Flow Queue","active":false,"console":"false","complete":"payload","x":1037.1666259765625,"y":705.3333129882812,"wires":[]},{"id":"747aede3.8c97ec","type":"function","z":"a6371553.447a4","name":"Set Key for Queue","func":"//msg.payload = [\"persist-queue\", JSON.stringify(msg.payload)]\nmsg.topic = \"queue\"\nreturn msg;","outputs":1,"noerr":0,"x":882.1666870117188,"y":585,"wires":[["5ed2713.795659","2c8c49e.cc53f36"]]},{"id":"b81b52eb.079598","type":"switch","z":"a6371553.447a4","name":"Null Check","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":717.5,"y":709,"wires":[["412941ac.29dc9","669493df.b19424"]]},{"id":"412941ac.29dc9","type":"json","z":"a6371553.447a4","name":"","x":902.5,"y":783,"wires":[["5927b2b7.b45dd4","4d9f7bc3.352cdc"]]},{"id":"12b3930e.ad9595","type":"status","z":"a6371553.447a4","name":"Bluemix Connectivity","scope":["4d9f7bc3.352cdc"],"x":132.83334350585938,"y":957.3333377838135,"wires":[["f8100c3c.c2f168","6a3d2e94.18087"]]},{"id":"f8100c3c.c2f168","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"status","x":503.8333320617676,"y":1071.0000019073486,"wires":[]},{"id":"c3ddd9f.3b51e28","type":"switch","z":"a6371553.447a4","name":"isConnected","property":"isConnected","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":402.8333435058594,"y":796,"wires":[["ebcd540a.0758f","7f34bcb4.7f1d5c"],[]]},{"id":"6a3d2e94.18087","type":"function","z":"a6371553.447a4","name":"set isConnected","func":"if (msg.status.text == \"node-red:common.status.connected\")\n    flow.set(\"isConnected\",true); \nelse \n    flow.set(\"isConnected\",false); \nreturn msg;","outputs":1,"noerr":0,"x":430.1666679382324,"y":958.0000267028809,"wires":[[]]},{"id":"81fce817.20b3c","type":"catch","z":"a6371553.447a4","name":"","scope":null,"x":521.5,"y":70,"wires":[["a9574d14.82883","adbdc596.b6b518"]]},{"id":"a9574d14.82883","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"true","complete":"true","x":695.8334045410156,"y":70.666672706604,"wires":[]},{"id":"3157c8dc.d4a5e","type":"switch","z":"a6371553.447a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":387.5,"y":316.66668701171875,"wires":[["632599d3.ccc67"],[]]},{"id":"77c98633.5f05f","type":"debug","z":"a6371553.447a4","name":"Processed Payload","active":false,"console":"false","complete":"true","x":1283.5,"y":266.3333435058594,"wires":[]},{"id":"d4e83bce.4d4f8","type":"debug","z":"a6371553.447a4","name":"Bulk Message","active":false,"console":"false","complete":"payload","x":1301.5,"y":322.3333435058594,"wires":[]},{"id":"adbdc596.b6b518","type":"function","z":"a6371553.447a4","name":"Restart if Crashed","func":"msg.payload = [\"tst*\"];\nreturn msg;","outputs":1,"noerr":0,"x":733.6666259765625,"y":114.66666793823242,"wires":[[]]},{"id":"b6399f2c.6661a8","type":"comment","z":"a6371553.447a4","name":"Connection Watchdog","info":"","x":130.8333282470703,"y":901.6667022705078,"wires":[]},{"id":"ce6cca42.3adff8","type":"comment","z":"a6371553.447a4","name":"From Queue to Bluemix","info":"","x":127.5,"y":738.3333625793457,"wires":[]},{"id":"a0b7cefc.7e5988","type":"function","z":"a6371553.447a4","name":"Set Timers","func":"flow.set(\"tick\",Math.round(new Date()));\nif ( typeof flow.get(\"lastLocUpdate\") == \"undefined\")\n    flow.set(\"lastLocUpdate\",Math.round(new Date()));\nreturn msg;\n\n","outputs":1,"noerr":0,"x":801,"y":202,"wires":[["fb901f6.4692ce"]]},{"id":"f5d670ee.45f2e","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":1429,"y":132,"wires":[]},{"id":"ddc19a98.7f8ba8","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":692.5,"y":848,"wires":[]},{"id":"9a06e69c.ff01e","type":"debug","z":"a6371553.447a4","name":"Queue Size","active":false,"console":"false","complete":"payload","x":1354.5,"y":582,"wires":[]},{"id":"7f34bcb4.7f1d5c","type":"redis-command","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"llen","name":"","topic":"queue","x":457.5,"y":866,"wires":[["ddc19a98.7f8ba8"]]},{"id":"27a005e3.937bba","type":"inject","z":"a6371553.447a4","name":"Inject Persistence","topic":"","payload":"[\"pst*\"]","payloadType":"json","repeat":"300","crontab":"","once":true,"x":134,"y":237,"wires":[["18012239.abb0ae"]]},{"id":"21eb215d.4a2d66","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":662.5,"y":168,"wires":[]},{"id":"3c1ffb3d.8e8c04","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":479.5,"y":119,"wires":[]},{"id":"669493df.b19424","type":"change","z":"a6371553.447a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"queue\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":457.5,"y":684,"wires":[["c3ddd9f.3b51e28"]]},{"id":"5ed2713.795659","type":"debug","z":"a6371553.447a4","name":"","active":false,"console":"false","complete":"false","x":1140.5,"y":521,"wires":[]},{"id":"2c8c49e.cc53f36","type":"redis-out","z":"a6371553.447a4","server":"b4450eab.de7d3","command":"lpush","name":"Enqueue","topic":"queue","x":1116.5,"y":582,"wires":[]},{"id":"39fb114e.88fb76","type":"xml","z":"c7024e5c.5884d8","name":"","attr":"","chr":"","x":249.5,"y":112,"wires":[["29ad00ea.a85af"]]},{"id":"f4cbf330.35967","type":"debug","z":"c7024e5c.5884d8","name":"","active":true,"console":"false","complete":"payload","x":614.5,"y":179,"wires":[]},{"id":"f1d79b55.da5b8","type":"http request","z":"c7024e5c.5884d8","name":"","method":"GET","ret":"txt","url":"http://10.0.1.43/api/LiveData.xml","tls":"","x":110.5,"y":182,"wires":[["39fb114e.88fb76"]]},{"id":"6547074f.286258","type":"inject","z":"c7024e5c.5884d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.5,"y":290,"wires":[["f1d79b55.da5b8"]]},{"id":"20cb7445.4795fc","type":"split","z":"c7024e5c.5884d8","name":"","splt":"\\n","x":431.5,"y":220,"wires":[["f4cbf330.35967"]]},{"id":"29ad00ea.a85af","type":"json","z":"c7024e5c.5884d8","name":"","x":319.5,"y":144,"wires":[["20cb7445.4795fc"]]},{"id":"f4ab8592.62675","type":"mqtt in","z":"a97915af.6022b","name":"12v","topic":"/telemetry/battery/12v/v/","qos":"0","broker":"c665290f.ef78e","x":123.5,"y":192,"wires":[["3ae0d4a4.333a9c","d0abd281.5cd7c"]]},{"id":"3ae0d4a4.333a9c","type":"debug","z":"a97915af.6022b","name":"","active":false,"console":"false","complete":"false","x":717.5,"y":200,"wires":[]},{"id":"aeff8d6a.dd2ec","type":"template","z":"a97915af.6022b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":299.5,"y":421,"wires":[[]]},{"id":"6b0f0fc7.a24f3","type":"function","z":"a97915af.6022b","name":"","func":"var volt = { volt: msg.payload };\nmsg.payload = volt;\nreturn msg;","outputs":1,"noerr":0,"x":345.5,"y":259,"wires":[["3ae0d4a4.333a9c","6f354e90.9d5f5"]]},{"id":"397b809b.4a736","type":"json","z":"c4074a96.5682f8","name":"","x":826.5,"y":372,"wires":[["73996b9e.062ee4"]]},{"id":"73996b9e.062ee4","type":"function","z":"c4074a96.5682f8","name":"","func":"msg.payload = msg.payload[\"volt\"];\nreturn msg;","outputs":1,"noerr":0,"x":974.5,"y":372,"wires":[["f4c0d5e0.11a2b8","68572440.a9d62c","99a5c8a9.3c88b8"]]},{"id":"f4c0d5e0.11a2b8","type":"ui_text","z":"c4074a96.5682f8","group":"71f5e34.da4f71c","order":0,"width":"0","height":"0","name":"","label":"Voltage","format":"{{msg.payload}}","layout":"row-spread","x":1134.5,"y":417,"wires":[]},{"id":"6e3c570.26b2d28","type":"ui_switch","z":"c4074a96.5682f8","name":"","label":"Ignição","group":"71f5e34.da4f71c","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":979,"y":469,"wires":[[]]},{"id":"68572440.a9d62c","type":"ui_text","z":"c4074a96.5682f8","group":"e3321ae3.00d6","order":0,"width":"0","height":"0","name":"","label":"Voltage 12v","format":"{{msg.payload}}","layout":"row-spread","x":1141,"y":380,"wires":[]},{"id":"99a5c8a9.3c88b8","type":"ui_gauge","z":"c4074a96.5682f8","name":"SOC","group":"71f5e34.da4f71c","order":2,"width":"2","height":"2","gtype":"wave","title":"12V","label":"SOC","format":"{{value| number:1}}","min":0,"max":"14.5","colors":["#000000","#e6e600","#00b500"],"x":1124,"y":344,"wires":[]},{"id":"d0abd281.5cd7c","type":"smooth","z":"a97915af.6022b","name":"","action":"low","count":"10","round":"2","x":184.5,"y":257,"wires":[["6b0f0fc7.a24f3"]]},{"id":"fde69f83.d0bf2","type":"debug","z":"29a47d57.7614c2","name":"","active":false,"console":"false","complete":"topic","x":253.5,"y":108,"wires":[]},{"id":"ca8ecb65.283398","type":"delay","z":"29a47d57.7614c2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":266.8333435058594,"y":244.66666221618652,"wires":[["880129ca.3fb05"]]},{"id":"f6719c05.b60a38","type":"smooth","z":"c87049d1.585918","name":"","action":"mean","count":"5","round":"","x":755.8333129882812,"y":194,"wires":[["9dee658c.e85f4","6460f812.80a9","37a57de.1783482"]]},{"id":"8a4ca6ea.7ed8a","type":"ui_slider","z":"c4074a96.5682f8","name":"","label":"Temp","group":"e3321ae3.00d6","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"80","step":1,"x":836.4999847412109,"y":551.9999904632568,"wires":[[]]},{"id":"8c5c1c4.428f0e","type":"ui_chart","z":"c4074a96.5682f8","name":"Amperage RMS","group":"4657c2d3.522e8c","order":0,"width":0,"height":0,"label":"Amperage RMS","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":1207.5,"y":159,"wires":[[],[]]},{"id":"b5afc8be.8bf7f8","type":"ui_chart","z":"c4074a96.5682f8","name":"","group":"4657c2d3.522e8c","order":0,"width":0,"height":0,"label":"Volts","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":994.5,"y":250,"wires":[[],[]]},{"id":"5b500811.89c978","type":"switch","z":"f9be8474.0450b8","name":"Check Ignition","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":417,"y":194,"wires":[["76f378bf.191838"],["d31c9ee0.1257e8"]]},{"id":"76f378bf.191838","type":"change","z":"f9be8474.0450b8","name":"Set Ignition On","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":607.5,"y":187.25,"wires":[["366f4c39.61672c"]]},{"id":"1beb3bf8.8f38d4","type":"mqtt out","z":"f9be8474.0450b8","name":"","topic":"/telemetry/car/ignition","qos":"","retain":"","broker":"c665290f.ef78e","x":1412.375,"y":369,"wires":[]},{"id":"d31c9ee0.1257e8","type":"change","z":"f9be8474.0450b8","name":"Set Ignition Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":608.5,"y":226,"wires":[["366f4c39.61672c"]]},{"id":"525ddad7.46035c","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"false","x":420.5,"y":279,"wires":[]},{"id":"730a665a.4549f","type":"mqtt in","z":"f9be8474.0450b8","name":"","topic":"/telemetry/battery/12v/ign/","qos":"2","broker":"c665290f.ef78e","x":161.5,"y":194,"wires":[["525ddad7.46035c","5b500811.89c978"]]},{"id":"366f4c39.61672c","type":"switch","z":"f9be8474.0450b8","name":"Check if Ignition Changed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ignition","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":826.5,"y":218,"wires":[["238754c0.c0d924"],["d86bc43a.7c95b8"]]},{"id":"6f63c509.75b0dc","type":"change","z":"f9be8474.0450b8","name":"","rules":[{"t":"set","p":"ignition","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1169.5,"y":364,"wires":[["1beb3bf8.8f38d4"]]},{"id":"1d108d8f.c6846a","type":"redis-command","z":"f9be8474.0450b8","server":"b4450eab.de7d3","command":"incr","name":"Increment TripID","topic":"[pst:tripId]","x":1002.5,"y":123,"wires":[["46ba0304.a37b34","50484e73.cb6ce8"]]},{"id":"655d0c14.ea5034","type":"redis-command","z":"f9be8474.0450b8","server":"b4450eab.de7d3","command":"set","name":"Set transient key","topic":"[tst:tripId]","x":1280.5,"y":50,"wires":[[]]},{"id":"46ba0304.a37b34","type":"debug","z":"f9be8474.0450b8","name":"tripID","active":false,"console":"false","complete":"payload","x":1245.5,"y":88,"wires":[]},{"id":"cfa53130.8056c","type":"ui_text","z":"c4074a96.5682f8","group":"4657c2d3.522e8c","order":0,"width":0,"height":0,"name":"","label":"Voltage","format":"{{msg.payload}}","layout":"row-spread","x":1137.5,"y":251,"wires":[]},{"id":"3d804883.e6ddc8","type":"mqtt in","z":"c87049d1.585918","name":"","topic":"/telemetry/cntpower","qos":"0","broker":"c665290f.ef78e","x":110.5,"y":196.3333444595337,"wires":[["bb11a27d.000fa"]]},{"id":"4c2c39e2.65bcf","type":"redis-command","z":"c87049d1.585918","server":"b4450eab.de7d3","command":"get","name":"Get Amps","topic":"tst:batvolt","x":253.3333396911621,"y":566.6666622161865,"wires":[[]]},{"id":"9dee658c.e85f4","type":"range","z":"c87049d1.585918","minin":"94","maxin":"101.6","minout":"0","maxout":"100","action":"clamp","round":true,"name":"Maps Voltage to SOC","x":999.8333740234375,"y":193.6666717529297,"wires":[["90ee9487.c640f","6460f812.80a9"]]},{"id":"6460f812.80a9","type":"debug","z":"c87049d1.585918","name":"","active":false,"console":"false","complete":"false","x":1134.4999389648438,"y":85.00000762939453,"wires":[]},{"id":"e4a0d910.1ba9a","type":"function","z":"f9be8474.0450b8","name":"","func":"msg.payload=[\"pst:tripId\"];\nreturn msg;","outputs":1,"noerr":0,"x":860.5,"y":163,"wires":[["1d108d8f.c6846a"]]},{"id":"50484e73.cb6ce8","type":"function","z":"f9be8474.0450b8","name":"","func":"msg.payload = [ \"tst:tripId\", msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":1058.5,"y":51,"wires":[["655d0c14.ea5034"]]},{"id":"238754c0.c0d924","type":"debug","z":"f9be8474.0450b8","name":"","active":false,"console":"false","complete":"false","x":963.5,"y":283,"wires":[]},{"id":"d86bc43a.7c95b8","type":"switch","z":"f9be8474.0450b8","name":"Is it On?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1048.5,"y":218,"wires":[["e4a0d910.1ba9a","6f63c509.75b0dc","f8c4ad36.185cb"],["6f63c509.75b0dc","ed3c23a0.299618"]]},{"id":"3ac8fef9.68598a","type":"function","z":"22c5a77c.734e2","name":"","func":"var byteHigh    = parseInt(msg.payload.substring(8,10),16);\nvar byteLow     = parseInt(msg.payload.substring(10,12),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\nvar payload={};\npayload[\"current\"] = (((byteHigh*256)+byteLow)*0.1).toFixed(2);\nvar byteHigh    = parseInt(msg.payload.substring(12,14),16);\nvar byteLow     = parseInt(msg.payload.substring(14,16),16);\n//msg.payload = (parseInt(byteHigh,16)*255)+parseInt(byteLow);\npayload[\"voltage\"] = (((byteHigh*256)+byteLow)*0.1).toFixed(2);\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":285.5,"y":269,"wires":[["394c27a.82604d8","48c34d5f.9873c4","7c090098.3e5c98","28a70eed.093e52"]]},{"id":"7c090098.3e5c98","type":"mqtt out","z":"22c5a77c.734e2","name":"cntpower","topic":"/telemetry/cntpower","qos":"","retain":"","broker":"c665290f.ef78e","x":631.5000267028809,"y":275.6666679382324,"wires":[]},{"id":"9843fa4c.d94c8","type":"comment","z":"1b6a5816.35494","name":"Envio em Backup da localizacao caso o mecanismo no Bluemix de problema","info":"","x":320.4166564941406,"y":463.3333511352539,"wires":[]},{"id":"f294d5e4.a7fd3","type":"debug","z":"1b6a5816.35494","name":"","active":true,"console":"false","complete":"true","x":1490.416748046875,"y":740.3333740234375,"wires":[]},{"id":"326167d5.1d069","type":"http request","z":"1b6a5816.35494","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1330.083251953125,"y":704,"wires":[["f294d5e4.a7fd3"]]},{"id":"342afad0.d1fda6","type":"function","z":"1b6a5816.35494","name":"Adjust Location for HTTP Request","func":"payload = {};\npayload.heading = msg.payload[\"course\"];\npayload.spd =  msg.payload[\"spd\"] * 0.539957 ;\npayload.lat =  msg.payload[\"lat\"];\npayload.lon =  msg.payload[\"lon\"];\nif (typeof msg.payload[\"alt\"] !== 'undefined') { \n    payload.alt = msg.payload[\"alt\"] }\n else \n    { payload.alt = 0 } \n    \nvar url = \"http://traccar.homedns.org:5055/?id=1234567890&lat=\" + msg.payload.lat + \"&lon=\"+msg.payload.lon+\"&timestamp=\"+msg.payload.time+\"&heading=\"+ msg.payload.course +\"&altitude=\"+ msg.payload.alt+\"&speed=\"+msg.payload.spd;\n\nmsg.payload = payload;\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":1081.75,"y":704,"wires":[["326167d5.1d069","90aec87e.d55d48"]]},{"id":"40ddce1d.d1c51","type":"json","z":"1b6a5816.35494","name":"","x":704.0833740234375,"y":706.666748046875,"wires":[["342afad0.d1fda6"]]},{"id":"28a70eed.093e52","type":"debug","z":"22c5a77c.734e2","name":"","active":false,"console":"false","complete":"false","x":883.1666870117188,"y":245.33334350585938,"wires":[]},{"id":"17302047.c4ee5","type":"comment","z":"c87049d1.585918","name":"Processamento Temporátio de SOC","info":"","x":152.5,"y":88.33333110809326,"wires":[]},{"id":"bb11a27d.000fa","type":"json","z":"c87049d1.585918","name":"","x":285.8333282470703,"y":196.6666603088379,"wires":[["48863ef7.5b703"]]},{"id":"48863ef7.5b703","type":"switch","z":"c87049d1.585918","name":"Check Current","property":"payload[\"current\"]","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":462.16668701171875,"y":195,"wires":[["340d0bc6.cc4d34","34be92d9.0d2f8e"],[]]},{"id":"340d0bc6.cc4d34","type":"debug","z":"c87049d1.585918","name":"","active":true,"console":"false","complete":"false","x":714.166690826416,"y":63.333335876464844,"wires":[]},{"id":"37a57de.1783482","type":"mqtt out","z":"c87049d1.585918","name":"Normalized Voltage","topic":"/telemetry/batvolt-norm","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1157.5,"y":248,"wires":[]},{"id":"ed3c23a0.299618","type":"link out","z":"f9be8474.0450b8","name":"IgnitionSetOff","links":["d9b203f8.6e298"],"x":1252.5,"y":231,"wires":[]},{"id":"f8c4ad36.185cb","type":"link out","z":"f9be8474.0450b8","name":"IgnitionSetOn","links":[],"x":1251.5,"y":191,"wires":[]},{"id":"d9b203f8.6e298","type":"link in","z":"29a47d57.7614c2","name":"","links":["ed3c23a0.299618"],"x":50.5,"y":332,"wires":[["3d80761c.cc512a","2363d27f.7e365e"]]},{"id":"3d80761c.cc512a","type":"function","z":"29a47d57.7614c2","name":"Reset Numbers when ignition is off","func":"msg.topic = \"/CANBUS/00000601\";\nmsg.payload = \"0000000000000000\"\nreturn msg;","outputs":1,"noerr":0,"x":292.5,"y":333,"wires":[["880129ca.3fb05"]]},{"id":"8f7336df.d76348","type":"inject","z":"29a47d57.7614c2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":86.5,"y":435,"wires":[["3d80761c.cc512a","2363d27f.7e365e"]]},{"id":"e2896a87.1aae8","type":"ui_text","z":"c4074a96.5682f8","group":"e3321ae3.00d6","order":0,"width":"2","height":"1","name":"","label":"Volt Flutuante","format":"{{msg.payload}}","layout":"row-spread","x":853.5,"y":226,"wires":[]},{"id":"8dbc88cc.d8b2c8","type":"ui_text","z":"c4074a96.5682f8","group":"fa8b2b93.5fad38","order":0,"width":"2","height":"1","name":"","label":"AMP Raw","format":"{{msg.payload}}","layout":"row-spread","x":1007.5,"y":153,"wires":[]},{"id":"34be92d9.0d2f8e","type":"function","z":"c87049d1.585918","name":"","func":"msg.payload = msg.payload[\"voltage\"];\nreturn msg;","outputs":1,"noerr":0,"x":623.5,"y":195,"wires":[["f6719c05.b60a38","340d0bc6.cc4d34"]]},{"id":"63400a54.5c987c","type":"mqtt out","z":"b16d71b8.a08c7","name":"sys1cpuload-out","topic":"/telemetry/sys/1/load","qos":"0","retain":"false","broker":"c665290f.ef78e","x":657,"y":321,"wires":[]},{"id":"2d30b6a8.4141b2","type":"mqtt out","z":"b16d71b8.a08c7","name":"sys1mem-out","topic":"/telemetry/sys/1/mem","qos":"0","retain":"false","broker":"c665290f.ef78e","x":648,"y":375,"wires":[]},{"id":"ec2df271.4e413","type":"delay","z":"c4074a96.5682f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":387,"wires":[["cdc1195.ce4b2e8"]]},{"id":"57a8adb3.f4e23c","type":"debug","z":"c4074a96.5682f8","name":"","active":true,"console":"false","complete":"true","x":1026.5,"y":79,"wires":[]},{"id":"fa01c4d0.11ec8","type":"switch","z":"b16d71b8.a08c7","name":"Check Response","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1026.6428146362305,"y":816.8571128845215,"wires":[["ff9fc2cc.c169c8"],["4ecd6c7.d2d8414"]]},{"id":"ff9fc2cc.c169c8","type":"change","z":"b16d71b8.a08c7","name":"Not Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1241.5000305175781,"y":780.1428623199463,"wires":[["d636697d.6a5818","807877ce.e42a2"]]},{"id":"4ecd6c7.d2d8414","type":"change","z":"b16d71b8.a08c7","name":"Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1242.8571548461914,"y":864.4285507202148,"wires":[["d636697d.6a5818","c7711728.d07b58"]]},{"id":"d636697d.6a5818","type":"mqtt out","z":"b16d71b8.a08c7","name":"telemetry:sys:inet","topic":"/telemetry/sys/inet","qos":"0","retain":"false","broker":"c665290f.ef78e","x":1513.2857055664062,"y":821.1428623199463,"wires":[]},{"id":"db2bccfd.165d08","type":"switch","z":"1b6a5816.35494","name":"Check Ignition","property":"ignition","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":128,"y":138,"wires":[["62594c16.d5377c"],["1d038bb2.c3b864"]]},{"id":"dea76144.fd50b","type":"gpsd","z":"1b6a5816.35494","name":"Adafruit Ultimate GPS","hostname":"localhost","port":"2947","tpv":true,"sky":true,"info":true,"device":true,"gst":false,"att":false,"x":105,"y":575,"wires":[["252e8765.26e4a8"]]},{"id":"24b8b3d1.7f953c","type":"switch","z":"1b6a5816.35494","name":"GPS Object Type","property":"payload.class","propertyType":"msg","rules":[{"t":"eq","v":"TPV","vt":"str"},{"t":"eq","v":"SKY","vt":"str"}],"checkall":"false","outputs":2,"x":136,"y":662,"wires":[["ccb3db1a.93e19"],[]]},{"id":"252e8765.26e4a8","type":"delay","z":"1b6a5816.35494","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":341.5,"y":575,"wires":[["24b8b3d1.7f953c"]]},{"id":"ccb3db1a.93e19","type":"switch","z":"1b6a5816.35494","name":"Check if Valid","property":"payload.mode","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"},{"t":"lte","v":"1","vt":"str"}],"checkall":"false","outputs":2,"x":328,"y":655,"wires":[["a16dbb71.d332f8"],["f91d3313.a0f378"]]},{"id":"f91d3313.a0f378","type":"redis-command","z":"1b6a5816.35494","server":"b4450eab.de7d3","command":"get","name":"Get Location Keys","topic":"[\"pst:loc\"]","x":545,"y":707,"wires":[["40ddce1d.d1c51"]]},{"id":"a16dbb71.d332f8","type":"function","z":"1b6a5816.35494","name":"TPV Object","func":"var location = {};\nlocation[\"lat\"] = msg.payload.lat;\nlocation[\"lon\"] = msg.payload.lon;\nlocation[\"alt\"] = msg.payload.alt;\nlocation[\"spd\"] = parseInt(msg.payload.speed);\nlocation[\"climb\"] = msg.payload.climb;\nlocation[\"course\"] = msg.payload.track;\nlocation[\"time\"] = msg.payload.time;\nlocation[\"fix\"] = msg.payload.mode;\nmsg.payload = location;\nreturn msg;","outputs":"1","noerr":0,"x":825,"y":649,"wires":[["342afad0.d1fda6"]]},{"id":"1d038bb2.c3b864","type":"delay","z":"1b6a5816.35494","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":319,"y":154,"wires":[["62594c16.d5377c"]]},{"id":"f7a2df63.6d4948","type":"comment","z":"1b6a5816.35494","name":"IMPORTANTE - TEMPORATIO","info":"Substituir por sensor de movimento quando este estiver implmentado","x":128,"y":204,"wires":[]},{"id":"2363d27f.7e365e","type":"function","z":"29a47d57.7614c2","name":"Reset Numbers when ignition is off","func":"msg.topic = \"/CANBUS/00000602\";\nmsg.payload = \"0000000000000000\"\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":383,"wires":[["880129ca.3fb05"]]},{"id":"90aec87e.d55d48","type":"debug","z":"1b6a5816.35494","name":"","active":true,"console":"false","complete":"true","x":1287,"y":599,"wires":[]},{"id":"40f86725.44681","type":"comment","z":"f9be8474.0450b8","name":"Ignition Control","info":"","x":122.5,"y":93,"wires":[]},{"id":"e1b07015.44abd","type":"comment","z":"f9be8474.0450b8","name":"Brake Detection","info":"","x":124,"y":395,"wires":[]},{"id":"4c7d2860.fcb43","type":"mqtt in","z":"f9be8474.0450b8","name":"","topic":"/ETHBUS/ecu1/brake","qos":"2","broker":"c665290f.ef78e","x":143,"y":476,"wires":[[]]},{"id":"f9fe8b68.da5838","type":"mqtt in","z":"f9be8474.0450b8","name":"","topic":"/telemetry/loc","qos":"2","broker":"c665290f.ef78e","x":116,"y":686,"wires":[["68510165.04d5f"]]},{"id":"b387643f.6034a","type":"comment","z":"f9be8474.0450b8","name":"Speed & Gear","info":"","x":111,"y":615,"wires":[]},{"id":"68510165.04d5f","type":"json","z":"f9be8474.0450b8","name":"","x":298.5,"y":686,"wires":[["b8b0381e.332f68"]]},{"id":"b8b0381e.332f68","type":"change","z":"f9be8474.0450b8","name":"Set Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"spd\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":479.5,"y":687,"wires":[["7541f6e.5beeb88","8b79a1c8.9e7a2","752338b2.1cc94"]]},{"id":"7541f6e.5beeb88","type":"debug","z":"f9be8474.0450b8","name":"","active":true,"console":"false","complete":"false","x":668.5,"y":623,"wires":[]},{"id":"8b79a1c8.9e7a2","type":"mqtt out","z":"f9be8474.0450b8","name":"","topic":"/telemetry/car/speed","qos":"","retain":"","broker":"c665290f.ef78e","x":1005,"y":687,"wires":[]},{"id":"be73f69f.26d84","type":"function","z":"f9be8474.0450b8","name":"","func":"min = 8000;\nclosest = 0;\nspeed = msg.speed;\nengineRpm = msg.payload;\ngearList=[0,0,0,0,0,0];\n\nif (speed  === 0) {\n    closest =  0;        \t\n} else {\n        \tgearList[0]=(700);\n        \tgearList[1]=((speed  * 12.9 * 5305)/621);\n\t        gearList[2]=((speed  * 7.4 * 5305)/621);\n\t        gearList[3]=((speed  * 5.1 * 5305)/621);\n\t        gearList[4]=((speed  * 4.0 * 5305)/621);\n\t        gearList[5]=((speed  * 3.2 * 5305)/621);\n\t        \n\t  i = 0;\n\t  while((i=i+1) < 6)  {\n\t     diff = Math.abs((gearList[i] - engineRpm ))\n\t        if (diff < min ) {\n\t            min = diff;\n\t            closest = i;\n\t        }\n\t    //return this.distanceTraveledSinceCodesCleared;\n      }\n}\n\nmsg.payload=closest;\n\nreturn msg;","outputs":1,"noerr":0,"x":469.5,"y":888,"wires":[["a6ec449b.507c1","2674662c.06a8c2"]]},{"id":"96924232.9c7df8","type":"redis-command","z":"f9be8474.0450b8","server":"b4450eab.de7d3","command":"get","name":"Get Data","topic":"[\"pst:enginerpm\"]","x":667,"y":767,"wires":[["be73f69f.26d84"]]},{"id":"752338b2.1cc94","type":"function","z":"f9be8474.0450b8","name":"","func":"speed = msg.payload;\nmsg.payload = [\"pst:enginerpm\"]\nreturn msg;","outputs":1,"noerr":0,"x":463.5,"y":763,"wires":[["96924232.9c7df8"]]},{"id":"a6ec449b.507c1","type":"debug","z":"f9be8474.0450b8","name":"","active":true,"console":"false","complete":"false","x":621.5,"y":948,"wires":[]},{"id":"2674662c.06a8c2","type":"mqtt out","z":"f9be8474.0450b8","name":"","topic":"/telemetry/car/gear","qos":"0","retain":"false","broker":"c665290f.ef78e","x":993,"y":775,"wires":[]},{"id":"738137a9.5e129","type":"ping","z":"b16d71b8.a08c7","name":"Ping Intranet","host":"10.0.1.1","timer":"30","x":102,"y":821,"wires":[["57f845e9.3ec4dc","4f3a94ea.aa64f4"]]},{"id":"57f845e9.3ec4dc","type":"switch","z":"b16d71b8.a08c7","name":"Check Response","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":317,"y":821,"wires":[["be808c67.e21908"],["6e0e6ac.f99f194"]]},{"id":"6e0e6ac.f99f194","type":"change","z":"b16d71b8.a08c7","name":"Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":537.5,"y":840,"wires":[["73a0f3fb.c21324","6913732.4843d0c"]]},{"id":"73a0f3fb.c21324","type":"mqtt out","z":"b16d71b8.a08c7","name":"telemetry:sys:net","topic":"/telemetry/sys/net","qos":"0","retain":"false","broker":"c665290f.ef78e","x":760.7857437133789,"y":812.4285659790039,"wires":[]},{"id":"4f3a94ea.aa64f4","type":"debug","z":"b16d71b8.a08c7","name":"","active":true,"console":"false","complete":"false","x":307,"y":915,"wires":[]},{"id":"be808c67.e21908","type":"change","z":"b16d71b8.a08c7","name":"Not Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":534,"y":791,"wires":[["73a0f3fb.c21324","fc72c79c.6d41d"]]},{"id":"fc72c79c.6d41d","type":"exec","z":"b16d71b8.a08c7","command":"ping ","addpay":false,"append":"-c 5 -I usb0 www.google.com","useSpawn":true,"timer":"10","name":"Ping Internet Trough USB","x":785.6428833007812,"y":734.0714149475098,"wires":[[],[],["fa01c4d0.11ec8"]]},{"id":"6913732.4843d0c","type":"exec","z":"b16d71b8.a08c7","command":"ping ","addpay":false,"append":"-c 5 -I wlan0 www.google.com","useSpawn":true,"timer":"10","name":"Ping Internet Trough Wifi","x":777.1428833007812,"y":895.7142944335938,"wires":[[],[],["fa01c4d0.11ec8"]]},{"id":"c7711728.d07b58","type":"debug","z":"b16d71b8.a08c7","name":"","active":true,"console":"false","complete":"false","x":1494.9999999999998,"y":894.2857142857142,"wires":[]},{"id":"807877ce.e42a2","type":"debug","z":"b16d71b8.a08c7","name":"","active":true,"console":"false","complete":"false","x":1487.142822265625,"y":747.1428833007812,"wires":[]}]